<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpAd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{880,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,390}}</string>
                <key>sourceSize</key>
                <string>{880,390}</string>
            </dict>
            <key>rpAd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{880,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,390}}</string>
                <key>sourceSize</key>
                <string>{880,390}</string>
            </dict>
            <key>rpAd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{880,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,390}}</string>
                <key>sourceSize</key>
                <string>{880,390}</string>
            </dict>
            <key>rpAd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{880,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,390}}</string>
                <key>sourceSize</key>
                <string>{880,390}</string>
            </dict>
            <key>rpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,724},{291,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,163}}</string>
                <key>sourceSize</key>
                <string>{291,163}</string>
            </dict>
            <key>rpClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,364},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>rpCloseDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,308},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>rpCommit.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,257},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>rpCommitDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,206},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>rpCopy.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,155},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>rpCopyDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,104},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>rpInputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{280,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,40}}</string>
                <key>sourceSize</key>
                <string>{280,40}</string>
            </dict>
            <key>rpPackageBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{143,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,164}}</string>
                <key>sourceSize</key>
                <string>{143,164}</string>
            </dict>
            <key>rpSearch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>rpSearchBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,420},{310,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,50}}</string>
                <key>sourceSize</key>
                <string>{310,50}</string>
            </dict>
            <key>rpSearchDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>rpSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>rpSliderDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>rpSwitch.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,53},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>rpSwitchDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>rpTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,308},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RecruitingPanel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9675d5e20a55583c9dfc5b8ddb15528$</string>
            <key>textureFileName</key>
            <string>RecruitingPanel.png</string>
        </dict>
    </dict>
</plist>
