<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>btn_look_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>btn_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>btn_watch_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>watchPlayerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,450}}</string>
                <key>sourceSize</key>
                <string>{204,450}</string>
            </dict>
            <key>watch_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,71},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>watchLayer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90f6a27b6a533d078b73957dcf5140f8$</string>
            <key>textureFileName</key>
            <string>watchLayer.png</string>
        </dict>
    </dict>
</plist>
