<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_sign_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,678},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_1_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,678},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,508},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_2_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_3_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,342},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,342},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_4_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,338},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_5_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,172},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,172},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_6_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,168},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_7_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
            <key>lobby_sign_img_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,32},{112,73}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,73}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>lobby_sign_img_goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,278},{104,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,90}}</string>
                <key>sourceSize</key>
                <string>{104,90}</string>
            </dict>
            <key>lobby_sign_img_goods3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{94,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,87}}</string>
                <key>sourceSize</key>
                <string>{94,87}</string>
            </dict>
            <key>lobby_sign_img_goods4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,370},{125,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,103}}</string>
                <key>sourceSize</key>
                <string>{125,103}</string>
            </dict>
            <key>lobby_sign_img_goods5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,172},{112,104}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{112,104}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>lobby_sign_img_goods6.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,497},{119,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,103}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>lobby_sign_img_huanledou.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,28}</string>
            </dict>
            <key>lobby_sign_img_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,164}}</string>
                <key>sourceSize</key>
                <string>{480,164}</string>
            </dict>
            <key>lobby_sign_img_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{168,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,225}}</string>
                <key>sourceSize</key>
                <string>{168,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SignPanel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfe77363f3904ba82e46297b8d2937df$</string>
            <key>textureFileName</key>
            <string>SignPanel.png</string>
        </dict>
    </dict>
</plist>
