<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby_task_cellbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{760,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{760,130}}</string>
				<key>sourceSize</key>
				<string>{760,130}</string>
			</dict>

			<key>lobby_task_everyTask.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,206},{123,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,29}}</string>
				<key>sourceSize</key>
				<string>{123,29}</string>
			</dict>

			<key>lobby_task_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,131},{171,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,74}}</string>
				<key>sourceSize</key>
				<string>{172,75}</string>
			</dict>

			<key>lobby_task_get_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{172,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,74}}</string>
				<key>sourceSize</key>
				<string>{172,75}</string>
			</dict>

			<key>lobby_task_goFinish.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,131},{171,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,74}}</string>
				<key>sourceSize</key>
				<string>{172,75}</string>
			</dict>

			<key>lobby_task_goFinish_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,173},{171,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,74}}</string>
				<key>sourceSize</key>
				<string>{172,75}</string>
			</dict>

			<key>lobby_task_isGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,131},{108,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{108,94}}</string>
				<key>sourceSize</key>
				<string>{108,97}</string>
			</dict>

			<key>lobby_task_line0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,131},{344,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,22}}</string>
				<key>sourceSize</key>
				<string>{344,22}</string>
			</dict>

			<key>lobby_task_line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{340,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{340,18}}</string>
				<key>sourceSize</key>
				<string>{344,22}</string>
			</dict>

			<key>lobby_task_type0.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,0},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,81}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>lobby_task_type1.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,82},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,81}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,256}</string>
			<key>textureFileName</key>
			<string>lobby.GoldGameTask.png</string>
			</dict>
		</dict>
</plist>