<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby.tea.t1.bg-table1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{256,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,178}}</string>
				<key>sourceSize</key>
				<string>{256,178}</string>
			</dict>

			<key>lobby.tea.t1.bg-table2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{258,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,178}}</string>
				<key>sourceSize</key>
				<string>{258,178}</string>
			</dict>

			<key>lobby.tea.t1.btn-detal-deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,360},{138,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,32}}</string>
				<key>sourceSize</key>
				<string>{138,32}</string>
			</dict>

			<key>lobby.tea.t1.btn-detal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{138,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,32}}</string>
				<key>sourceSize</key>
				<string>{138,32}</string>
			</dict>

			<key>lobby.tea.t1.headbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,356},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,51}}</string>
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>

			<key>lobby.tea.t1.headquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,356},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>lobby.tea.t1.tag-man1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,79},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,70}}</string>
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>

			<key>lobby.tea.t1.tag-man2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,282},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,70}}</string>
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>

			<key>lobby.tea.t1.tag-man3.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{66,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,77}}</string>
				<key>sourceSize</key>
				<string>{66,77}</string>
			</dict>

			<key>lobby.tea.t1.tag-man4.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,202},{66,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,78}}</string>
				<key>sourceSize</key>
				<string>{66,78}</string>
			</dict>

			<key>lobby.tea.t1.tag-woman1.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,79},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,70}}</string>
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>

			<key>lobby.tea.t1.tag-woman2.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,0},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,70}}</string>
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>

			<key>lobby.tea.t1.tag-woman3.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,202},{60,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,72}}</string>
				<key>sourceSize</key>
				<string>{60,72}</string>
			</dict>

			<key>lobby.tea.t1.tag-woman4.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,282},{60,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,72}}</string>
				<key>sourceSize</key>
				<string>{60,72}</string>
			</dict>

			<key>lobby.tea.t1.tea_tableUserBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,180},{104,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,20}}</string>
				<key>sourceSize</key>
				<string>{104,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{392,415}</string>
			<key>textureFileName</key>
			<string>TH_Table_Cell1.png</string>
			</dict>
		</dict>
</plist>