<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_JRP_btn_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>Lobby_JRP_btn_del_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>Lobby_JRP_btn_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>Lobby_JRP_btn_empty_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>Lobby_JRP_btn_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>Lobby_JRP_btn_number_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>Lobby_JRP_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{608,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,678}}</string>
                <key>sourceSize</key>
                <string>{608,678}</string>
            </dict>
            <key>Lobby_JRP_img_inBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,90},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>Lobby_JRP_img_numberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{645,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,217}}</string>
                <key>sourceSize</key>
                <string>{645,217}</string>
            </dict>
            <key>Lobby_JRP_img_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,770},{300,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,48}}</string>
                <key>sourceSize</key>
                <string>{300,48}</string>
            </dict>
            <key>Lobby_JRP_img_teaHouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{300,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,48}}</string>
                <key>sourceSize</key>
                <string>{300,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JoinRoomPanel.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ae9ba70af264d56832d1136da5d63d:1/1$</string>
            <key>textureFileName</key>
            <string>JoinRoomPanel.png</string>
        </dict>
    </dict>
</plist>
