<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmcAddTired.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{164,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,29}}</string>
                <key>sourceSize</key>
                <string>{164,29}</string>
            </dict>
            <key>tmcCurrentTired.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,152},{158,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,29}}</string>
                <key>sourceSize</key>
                <string>{158,29}</string>
            </dict>
            <key>tmcModifyRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,312},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,26}}</string>
                <key>sourceSize</key>
                <string>{97,26}</string>
            </dict>
            <key>tmcModifyTired.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{162,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,49}}</string>
                <key>sourceSize</key>
                <string>{162,49}</string>
            </dict>
            <key>tmcModifyTiredDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,152},{162,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,49}}</string>
                <key>sourceSize</key>
                <string>{162,49}</string>
            </dict>
            <key>tmcTitleModifyRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>tmcTitleModifyTired.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>tmpClear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tired.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad50f8ee41f8ca87fc7f9c37f5b8f1be$</string>
            <key>textureFileName</key>
            <string>Tired.png</string>
        </dict>
    </dict>
</plist>
