<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_GC_btn_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,105},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>Lobby_GC_btn_search_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,54},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>Lobby_GC_icon_cbmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,536},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_cyff.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,522},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_cymj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_ezhh.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,523},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_hhhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,380},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_hhmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,366},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_hzlzg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_jmmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,376},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_jymj.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,367},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_jzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,224},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_lh.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,210},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_qjmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_tcmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,54},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_tmmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_tsmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,220},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_whmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,211},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_xtmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,64},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_icon_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,55},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Lobby_GC_img_gameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{220,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,250}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>Lobby_GC_img_searchBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,50}}</string>
                <key>sourceSize</key>
                <string>{444,50}</string>
            </dict>
            <key>Lobby_GC_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{175,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,51}}</string>
                <key>sourceSize</key>
                <string>{179,53}</string>
            </dict>
            <key>gcAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,187},{122,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{122,29}</string>
            </dict>
            <key>gcAllDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,156},{122,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{122,29}</string>
            </dict>
            <key>gcAround.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,248},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>gcAroundDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,218},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>gcHot.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,33},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>gcHotDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameCenter.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a82e989df959544c98ca2d408c060438:1/1$</string>
            <key>textureFileName</key>
            <string>GameCenter.png</string>
        </dict>
    </dict>
</plist>
