plugins.js
.vscode/
build/native
build/preview
/*.zip
*.obj
*.tlog
*.log
*.pch
*.pdb
*.zip
yarn.lock
weixin/release/
frameworks/runtime-src/proj.win32/.vs/
frameworks/runtime-src/proj.win32/Debug.win32/
node_modules/
simulator/
frameworks/runtime-src/proj.ios_mac/src/
frameworks/runtime-src/proj.android-studio/app/.externalNativeBuild/
frameworks/runtime-src/proj.android-studio/.idea/
/src/
frameworks/runtime-src/proj.win32/Release.win32/
tsheads/kaayou/
frameworks/runtime-src/proj.android-studio/app/release/output.json
frameworks/runtime-src/proj.android-studio/app/release/xiaoyuyou-release.apk
frameworks/runtime-src/proj.android-studio/app/release/
dist/
*.cfg
*.udf
