<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TH_Record_bg_head_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>TH_Record_bg_head_sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,501},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>TH_Record_bg_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,54},{204,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,50}}</string>
                <key>sourceSize</key>
                <string>{204,50}</string>
            </dict>
            <key>TH_Record_bg_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,50}}</string>
                <key>sourceSize</key>
                <string>{234,50}</string>
            </dict>
            <key>TH_Record_bg_seq.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,560},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>TH_Record_bg_timeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{920,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,40}}</string>
                <key>sourceSize</key>
                <string>{920,40}</string>
            </dict>
            <key>TH_Record_bg_timeline_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,106},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>TH_Record_btn_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,322},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_Record_btn_detail_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,297},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_Record_btn_pull.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,501},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>TH_Record_btn_pull_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>TH_Record_btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,450},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>TH_Record_btn_record_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,446},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>TH_Record_btn_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,246},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_Record_btn_search_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,198},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_Record_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,399},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>TH_Record_btn_share_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,348},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>TH_Record_tag_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,176},{65,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,20}}</string>
                <key>sourceSize</key>
                <string>{65,20}</string>
            </dict>
            <key>TH_Record_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,446},{290,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>TH_Record_zan.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,547},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>TH_Record_zan_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,547},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>trpClear.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,195},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>trpClearDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,144},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TH_Record_Items.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4d38834500a9fd5c4ca683d3a1eae34$</string>
            <key>textureFileName</key>
            <string>TH_Record_Items.png</string>
        </dict>
    </dict>
</plist>
