<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_newRecord_.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,210},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>TH_newRecord_DateListBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,605},{125,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,360}}</string>
				<key>sourceSize</key>
				<string>{125,360}</string>
			</dict>

			<key>TH_newRecord_bigRecord_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{217,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,110}}</string>
				<key>sourceSize</key>
				<string>{217,110}</string>
			</dict>

			<key>TH_newRecord_bigWinTag.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1003},{65,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,20}}</string>
				<key>sourceSize</key>
				<string>{65,20}</string>
			</dict>

			<key>TH_newRecord_btn0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,953},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,161},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn10.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,461},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn11.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,311},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn12.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,211},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn13.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,411},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,48}}</string>
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>

			<key>TH_newRecord_btn15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,853},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,48}}</string>
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>

			<key>TH_newRecord_btn16.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,561},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>

			<key>TH_newRecord_btn17.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,351},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>TH_newRecord_btn18.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,312},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>TH_newRecord_btn19.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,561},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>TH_newRecord_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>TH_newRecord_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,50},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>TH_newRecord_btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,966},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,361},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,111},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn7.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,261},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_newRecord_btn8.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,511},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>TH_newRecord_btn9.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,966},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>TH_newRecord_chengyuCellbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{200,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,106}}</string>
				<key>sourceSize</key>
				<string>{200,106}</string>
			</dict>

			<key>TH_newRecord_contentTitlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,261},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>TH_newRecord_contentbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,159},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>TH_newRecord_dateXialaContentbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{125,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,50}}</string>
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>

			<key>TH_newRecord_detailSearch.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,561},{100,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,46}}</string>
				<key>sourceSize</key>
				<string>{100,46}</string>
			</dict>

			<key>TH_newRecord_detailplaybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{200,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,126}}</string>
				<key>sourceSize</key>
				<string>{200,126}</string>
			</dict>

			<key>TH_newRecord_floorSelectBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,608},{100,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,50}}</string>
				<key>sourceSize</key>
				<string>{100,50}</string>
			</dict>

			<key>TH_newRecord_floorlistbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,659},{100,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,154}}</string>
				<key>sourceSize</key>
				<string>{100,154}</string>
			</dict>

			<key>TH_newRecord_leftContent1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,878},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>TH_newRecord_leftContent2.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,100},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>TH_newRecord_metag.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,511},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,48}}</string>
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>

			<key>TH_newRecord_myRecordCellBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{200,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,132}}</string>
				<key>sourceSize</key>
				<string>{200,132}</string>
			</dict>

			<key>TH_newRecord_pageBg_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,1016},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-2,-2},{1,1}}</string>
				<key>sourceSize</key>
				<string>{156,60}</string>
			</dict>

			<key>TH_newRecord_pageBg_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,743},{156,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,60}}</string>
				<key>sourceSize</key>
				<string>{156,60}</string>
			</dict>

			<key>TH_newRecord_playDetailBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,478},{200,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,126}}</string>
				<key>sourceSize</key>
				<string>{200,126}</string>
			</dict>

			<key>TH_newRecord_playDetailLeftBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{58,580}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,580}}</string>
				<key>sourceSize</key>
				<string>{58,580}</string>
			</dict>

			<key>TH_newRecord_timeBg_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,674},{162,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,68}}</string>
				<key>sourceSize</key>
				<string>{162,68}</string>
			</dict>

			<key>TH_newRecord_timeBg_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,605},{162,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,68}}</string>
				<key>sourceSize</key>
				<string>{162,68}</string>
			</dict>

			<key>TH_newRecord_topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,814},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>TH_newRecord_merge.png</string>
			</dict>
		</dict>
</plist>