<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_newRecord_hint_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,206},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>btn_newRecord_mem_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>btn_newRecord_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>btn_newRecord_record_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>btn_newRecord_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>btn_newRecord_search_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TH_newRecord_merge2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc2735bf109d434c4e28ab1abce654b3$</string>
            <key>textureFileName</key>
            <string>TH_newRecord_merge2.png</string>
        </dict>
    </dict>
</plist>
