<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby_MP_img_icon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,834},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_MP_img_icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,834},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_MP_img_icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,547},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_MP_img_icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,192},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_MP_img_icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,454},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_BindBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{715,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,60}}</string>
				<key>sourceSize</key>
				<string>{715,60}</string>
			</dict>

			<key>Lobby_mall_CellBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,547},{221,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,286}}</string>
				<key>sourceSize</key>
				<string>{221,286}</string>
			</dict>

			<key>Lobby_mall_Diamond0.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,716},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,323},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,192},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Diamond3.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,61},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Diamond4.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,585},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Diamond5.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,454},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Diamond6.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,847},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Diamond7.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,716},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_DiamondTogoldImg.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,965},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,33}}</string>
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>

			<key>Lobby_mall_DiamondTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,965},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,38}}</string>
				<key>sourceSize</key>
				<string>{41,38}</string>
			</dict>

			<key>Lobby_mall_Gold0.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,61},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,585},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,323},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Gold3.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,809},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Gold4.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,323},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Gold5.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,192},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Gold6.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,61},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_Gold7.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,678},{127,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,130}}</string>
				<key>sourceSize</key>
				<string>{127,130}</string>
			</dict>

			<key>Lobby_mall_GoldTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,965},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>Lobby_mall_bindPrizeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{107,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,51}}</string>
				<key>sourceSize</key>
				<string>{107,51}</string>
			</dict>

			<key>Lobby_mall_switch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>sourceSize</key>
				<string>{240,80}</string>
			</dict>

			<key>Lobby_mall_switch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,466},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>sourceSize</key>
				<string>{240,80}</string>
			</dict>

			<key>Lobby_mall_switch3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,385},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>sourceSize</key>
				<string>{240,80}</string>
			</dict>

			<key>Lobby_mall_switch4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,223},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>sourceSize</key>
				<string>{240,80}</string>
			</dict>

			<key>Lobby_mall_switch5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>sourceSize</key>
				<string>{240,80}</string>
			</dict>

			<key>Lobby_mall_switch6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>sourceSize</key>
				<string>{240,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>MallPanel.png</string>
			</dict>
		</dict>
</plist>