<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Login_btn_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,847},{266,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_btn_guest_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,847},{266,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_btn_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1733},{268,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_btn_phone_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{266,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_btn_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{266,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_btn_wechat_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{266,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_btn_xiaoxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1733},{268,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_btn_xiaoxin_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1733},{268,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,92}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>Login_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>Login_img_checkOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,724},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>Login_img_checkOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,724},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>Login_img_loadBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>Login_img_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{447,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,272}}</string>
                <key>sourceSize</key>
                <string>{447,272}</string>
            </dict>
            <key>Login_img_policy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2003},{121,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,26}}</string>
                <key>sourceSize</key>
                <string>{121,26}</string>
            </dict>
            <key>Login_img_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{1190,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1190,10}}</string>
                <key>sourceSize</key>
                <string>{1192,12}</string>
            </dict>
            <key>Login_img_processBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1192,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1192,12}}</string>
                <key>sourceSize</key>
                <string>{1192,12}</string>
            </dict>
            <key>Login_img_processLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2031},{131,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{131,10}}</string>
                <key>sourceSize</key>
                <string>{131,12}</string>
            </dict>
            <key>Login_img_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{1280,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,40}}</string>
                <key>sourceSize</key>
                <string>{1280,40}</string>
            </dict>
            <key>Login_img_userAgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,724},{121,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,26}}</string>
                <key>sourceSize</key>
                <string>{121,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a844c5c522cded06e7aaa2799d30148:1/1$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
