<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_manager_CbScr_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,374},{170,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,56}}</string>
				<key>sourceSize</key>
				<string>{170,56}</string>
			</dict>

			<key>TH_manager_CbScr_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,413},{170,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,56}}</string>
				<key>sourceSize</key>
				<string>{170,56}</string>
			</dict>

			<key>TH_manager_Cbpop_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,317},{170,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,56}}</string>
				<key>sourceSize</key>
				<string>{170,56}</string>
			</dict>

			<key>TH_manager_Cbpop_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,431},{170,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,56}}</string>
				<key>sourceSize</key>
				<string>{170,56}</string>
			</dict>

			<key>TH_manager_font_Public_manager.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,471},{156,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,36}}</string>
				<key>sourceSize</key>
				<string>{156,36}</string>
			</dict>

			<key>TH_manager_font_baseInfo_bule.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,374},{123,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,29}}</string>
				<key>sourceSize</key>
				<string>{123,29}</string>
			</dict>

			<key>TH_manager_font_baseInfo_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,347},{123,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,29}}</string>
				<key>sourceSize</key>
				<string>{123,29}</string>
			</dict>

			<key>TH_manager_font_join_qyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,413},{185,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,28}}</string>
				<key>sourceSize</key>
				<string>{185,28}</string>
			</dict>

			<key>TH_manager_font_join_qyq_bule.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{185,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,28}}</string>
				<key>sourceSize</key>
				<string>{185,28}</string>
			</dict>

			<key>TH_manager_font_my_bule.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,317},{153,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,29}}</string>
				<key>sourceSize</key>
				<string>{153,29}</string>
			</dict>

			<key>TH_manager_font_my_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,264},{153,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,29}}</string>
				<key>sourceSize</key>
				<string>{153,29}</string>
			</dict>

			<key>TH_manager_font_publicNotice.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{156,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,36}}</string>
				<key>sourceSize</key>
				<string>{156,36}</string>
			</dict>

			<key>TH_manager_publicFontBg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{495,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{495,52}}</string>
				<key>sourceSize</key>
				<string>{495,52}</string>
			</dict>

			<key>TH_manager_publicNoticeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{935,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{935,182}}</string>
				<key>sourceSize</key>
				<string>{935,182}</string>
			</dict>

			<key>TH_manager_qyqManagerTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{221,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,54}}</string>
				<key>sourceSize</key>
				<string>{221,54}</string>
			</dict>

			<key>TH_manager_thm_btn_dismiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,377},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_manager_thm_btn_dismiss_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,427},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_manager_thm_btn_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,294},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_manager_thm_btn_enter_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,264},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_manager_thm_btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,377},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_manager_thm_btn_exit_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,427},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>TH_manager_thm_tea_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1000,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1000,80}}</string>
				<key>sourceSize</key>
				<string>{1000,80}</string>
			</dict>

			<key>TH_manager_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,317},{296,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{296,40}}</string>
				<key>sourceSize</key>
				<string>{296,40}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>TH_TeaHouseManager.png</string>
			</dict>
		</dict>
</plist>