<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bofang-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,649},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>bofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,613},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,426},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>close_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,337},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>houtui-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,582},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>houtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,546},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>huifangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{475,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,118}}</string>
                <key>sourceSize</key>
                <string>{475,118}</string>
            </dict>
            <key>playEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{333,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,89}}</string>
                <key>sourceSize</key>
                <string>{333,89}</string>
            </dict>
            <key>qianjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,515},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>qianjin_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,479},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>record_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{1001,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{1001,13}}</string>
                <key>sourceSize</key>
                <string>{1007,19}</string>
            </dict>
            <key>record_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1007,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1007,19}}</string>
                <key>sourceSize</key>
                <string>{1007,19}</string>
            </dict>
            <key>record_slider_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,517},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>record_slider_btn_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,479},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,636},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>replay_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,582},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,690},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>stop_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,675},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MajionRecord.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c19d45d82c24d30de0ed491d360b1798$</string>
            <key>textureFileName</key>
            <string>MajionRecord.png</string>
        </dict>
    </dict>
</plist>
