<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_enshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,137},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>red_ezhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,137},{33,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{33,66}</string>
            </dict>
            <key>red_huanggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>red_huangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,73},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>red_jingmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,137},{33,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{33,66}</string>
            </dict>
            <key>red_jingzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,74},{33,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{33,66}</string>
            </dict>
            <key>red_qianjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,38},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>red_shiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,205},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>red_suizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>red_tianmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,70},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>red_wuhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>red_xiangyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>red_xianning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>red_xiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>red_xiaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,37},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>red_yichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CityNameDeep.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60151caf3a30b53311f7da9b732ad114:1/1$</string>
            <key>textureFileName</key>
            <string>CityNameDeep.png</string>
        </dict>
    </dict>
</plist>
