<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cspBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{888,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,548}}</string>
                <key>sourceSize</key>
                <string>{888,548}</string>
            </dict>
            <key>cspCall.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,754},{268,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,69}}</string>
                <key>sourceSize</key>
                <string>{268,69}</string>
            </dict>
            <key>cspCallDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{268,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,69}}</string>
                <key>sourceSize</key>
                <string>{268,69}</string>
            </dict>
            <key>cspCopy.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,53},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>cspCopyDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>cspItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,552},{271,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,323}}</string>
                <key>sourceSize</key>
                <string>{271,323}</string>
            </dict>
            <key>cspTelephoneBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,354},{398,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,69}}</string>
                <key>sourceSize</key>
                <string>{398,69}</string>
            </dict>
            <key>cspTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,104},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CustomerService.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1714e8b9d18b814a4f0f4c83372ec520$</string>
            <key>textureFileName</key>
            <string>CustomerService.png</string>
        </dict>
    </dict>
</plist>
