<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_Map_btn_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>Lobby_Map_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>Lobby_Map_img_topBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{981,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{981,63}}</string>
                <key>sourceSize</key>
                <string>{981,63}</string>
            </dict>
            <key>mpHuBeiText.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,724},{137,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,53}}</string>
                <key>sourceSize</key>
                <string>{137,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapPanel.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7caa7b4f9bb6be30312528a24e827abb:1/1$</string>
            <key>textureFileName</key>
            <string>MapPanel.png</string>
        </dict>
    </dict>
</plist>
