<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_chibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,240},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_chongyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_enshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,206},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_ezhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_honghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,293},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>city_huanggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_huangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,172},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_jianli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_jiayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,138},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_jingmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_jingzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,104},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_qianjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_shiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,99},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_suizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>city_tianmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,70},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_tongcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_tongshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>city_wuhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,36},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_xiangyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_xianning.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_xiantao.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,274},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>city_xiaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>city_yichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_charactor.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f02b14ca6610261bd5be862018cbf720:1/1$</string>
            <key>textureFileName</key>
            <string>region_charactor.png</string>
        </dict>
    </dict>
</plist>
