<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>at_city_chibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,154},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_chongyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,307},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_enshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_ezhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,116},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_honghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_huanggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_huangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_jianli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>at_city_jiayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,192},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>at_city_jingmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_jingzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_qianjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,305},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_shiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,40},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_suizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_tianmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,267},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_tongcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_tongshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>at_city_wuhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_xiangyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_xianning.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,229},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_xiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>at_city_xiaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>at_city_yichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_charactor_atPresent.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dbd97dbc602556fee8088d3237c4c58:1/1$</string>
            <key>textureFileName</key>
            <string>region_charactor_atPresent.png</string>
        </dict>
    </dict>
</plist>
