<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cellBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{836,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,80}}</string>
                <key>sourceSize</key>
                <string>{836,80}</string>
            </dict>
            <key>detailbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>jiesan_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,77},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>joinGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,116},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tea_House_TableDetail.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f88d6838ca07fc3efd8d261b2a34160d$</string>
            <key>textureFileName</key>
            <string>Tea_House_TableDetail.png</string>
        </dict>
    </dict>
</plist>
