<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RedEnvelope_btn_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,967},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>RedEnvelope_btn_black_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,967},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>RedEnvelope_btn_cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,560},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>RedEnvelope_btn_cash_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,560},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>RedEnvelope_btn_cash_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,305},{288,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,83}}</string>
                <key>sourceSize</key>
                <string>{288,83}</string>
            </dict>
            <key>RedEnvelope_btn_cash_wx_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,882},{288,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,83}}</string>
                <key>sourceSize</key>
                <string>{288,83}</string>
            </dict>
            <key>RedEnvelope_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,567},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>RedEnvelope_btn_close_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,567},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>RedEnvelope_btn_get_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,508},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>RedEnvelope_btn_get_1_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,449},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>RedEnvelope_btn_get_1_diss.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,390},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>RedEnvelope_btn_get_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,560},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>RedEnvelope_btn_get_2_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>RedEnvelope_btn_had_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,458},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>RedEnvelope_btn_had_get_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,390},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>RedEnvelope_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,527},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>RedEnvelope_btn_rule_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,467},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>RedEnvelope_btn_send_hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,967},{146,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,53}}</string>
                <key>sourceSize</key>
                <string>{146,53}</string>
            </dict>
            <key>RedEnvelope_btn_send_hy_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,969},{146,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,53}}</string>
                <key>sourceSize</key>
                <string>{146,53}</string>
            </dict>
            <key>RedEnvelope_img_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{391,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{391,556}}</string>
                <key>sourceSize</key>
                <string>{393,556}</string>
            </dict>
            <key>RedEnvelope_img_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{626,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,301}}</string>
                <key>sourceSize</key>
                <string>{626,301}</string>
            </dict>
            <key>RedEnvelope_img_head_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>RedEnvelope_img_head_kuang_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,305},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>RedEnvelope_img_head_kuang_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,882},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>RedEnvelope_img_head_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,390},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>RedEnvelope_img_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{168,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,211}}</string>
                <key>sourceSize</key>
                <string>{168,211}</string>
            </dict>
            <key>lobby_RedEnvelope_btn_send_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,882},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RedEnvelope.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09bd3abf43012a003c367cafe0be830c$</string>
            <key>textureFileName</key>
            <string>RedEnvelope.png</string>
        </dict>
    </dict>
</plist>
