<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby.GoldGame_Head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>lobby.GoldGame_Headbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,0},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,81}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>lobby.GoldGame_TopBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,89}}</string>
				<key>sourceSize</key>
				<string>{1280,89}</string>
			</dict>

			<key>lobby.GoldGame_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,79},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{57,43}</string>
			</dict>

			<key>lobby.GoldGame_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,79},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{57,43}</string>
			</dict>

			<key>lobby.GoldGame_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,0},{276,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,78}}</string>
				<key>sourceSize</key>
				<string>{276,78}</string>
			</dict>

			<key>lobby.GoldGame_btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1558,0},{274,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{274,77}}</string>
				<key>sourceSize</key>
				<string>{276,78}</string>
			</dict>

			<key>lobby.GoldGame_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,79},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{41,38}}</string>
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>

			<key>lobby.GoldGame_gmc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{18,90},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,23}}</string>
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>

			<key>lobby.GoldGame_gmc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,90},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,23}}</string>
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>

			<key>lobby.GoldGame_gmc3.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,90},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,23}}</string>
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>

			<key>lobby.GoldGame_gmc4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,23}}</string>
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>

			<key>lobby.GoldGame_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,79},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{40,40}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,128}</string>
			<key>textureFileName</key>
			<string>lobby.GoldGameMerge.png</string>
			</dict>
		</dict>
</plist>