<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_newMix_CreateTableType.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,203},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_newMix_InputBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,174},{186,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,60}}</string>
				<key>sourceSize</key>
				<string>{186,60}</string>
			</dict>

			<key>TH_newMix_MixFloorFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,31},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_newMix_aiCheckFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,89},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>

			<key>TH_newMix_aiSetNumFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,90},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>

			<key>TH_newMix_aiSuperFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,227},{140,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,28}}</string>
				<key>sourceSize</key>
				<string>{140,28}</string>
			</dict>

			<key>TH_newMix_aiWaitFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,31},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_newMix_autoSortType.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,148},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_newMix_dedualtNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,60},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>

			<key>TH_newMix_emptyPos.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,0},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_newMix_floorBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{718,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{718,173}}</string>
				<key>sourceSize</key>
				<string>{718,173}</string>
			</dict>

			<key>TH_newMix_maxEmptynum.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,174},{140,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,28}}</string>
				<key>sourceSize</key>
				<string>{140,28}</string>
			</dict>

			<key>TH_newMix_mixActiveFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,119},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_newMix_mixTypeFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,60},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_newMix_selectMixSortType.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,174},{242,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,52}}</string>
				<key>sourceSize</key>
				<string>{242,52}</string>
			</dict>

			<key>TH_newMix_selectMixSortType_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,174},{244,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,54}}</string>
				<key>sourceSize</key>
				<string>{244,54}</string>
			</dict>

			<key>TH_newMix_setMixfont.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,0},{124,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,30}}</string>
				<key>sourceSize</key>
				<string>{124,30}</string>
			</dict>

			<key>TH_newMix_setMixfont_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,203},{124,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,30}}</string>
				<key>sourceSize</key>
				<string>{124,30}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,256}</string>
			<key>textureFileName</key>
			<string>TH_newMix_MixPanel.png</string>
			</dict>
		</dict>
</plist>