<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_SettingBlockPanel_CellBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,141},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,439},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,370},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,212},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,5},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,419},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,143},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg15.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,212},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg16.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,281},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg17.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,350},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg18.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,419},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg19.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,74},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,301},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,232},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,55},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,5},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,350},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,143},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,74},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_Cell_decImg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,5},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>TH_SettingBlockPanel_PageMergeInput.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,92},{100,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,48}}</string>
				<key>sourceSize</key>
				<string>{100,48}</string>
			</dict>

			<key>TH_SettingBlockPanel_PageMergebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>TH_SettingBlockPanel_PageMergebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,36},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>TH_SettingBlockPanel_Switch0.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,247},{155,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,30}}</string>
				<key>sourceSize</key>
				<string>{155,30}</string>
			</dict>

			<key>TH_SettingBlockPanel_Switch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,466},{155,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,30}}</string>
				<key>sourceSize</key>
				<string>{155,30}</string>
			</dict>

			<key>TH_SettingBlockPanel_Switch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,466},{124,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,29}}</string>
				<key>sourceSize</key>
				<string>{124,29}</string>
			</dict>

			<key>TH_SettingBlockPanel_Switch3.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,5},{124,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,29}}</string>
				<key>sourceSize</key>
				<string>{124,29}</string>
			</dict>

			<key>TH_SettingBlockPanel_Switch4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,466},{155,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,30}}</string>
				<key>sourceSize</key>
				<string>{155,30}</string>
			</dict>

			<key>TH_SettingBlockPanel_Switch5.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,287},{155,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,30}}</string>
				<key>sourceSize</key>
				<string>{155,30}</string>
			</dict>

			<key>TH_SettingBlockPanel_TipImage.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,5},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,26}}</string>
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn0.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,155},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,247},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn10.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,5},{132,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,49}}</string>
				<key>sourceSize</key>
				<string>{132,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn11.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,455},{132,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,49}}</string>
				<key>sourceSize</key>
				<string>{132,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn12.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,355},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn13.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,5},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn14.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,397},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn15.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,347},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,297},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,405},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,255},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,447},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,55},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn7.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,105},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn8.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,305},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_btn9.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,205},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_SettingBlockPanel_cellInput.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,55},{115,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,36}}</string>
				<key>sourceSize</key>
				<string>{115,36}</string>
			</dict>

			<key>TH_SettingBlockPanel_mergeListTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,141},{97,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,26}}</string>
				<key>sourceSize</key>
				<string>{97,26}</string>
			</dict>

			<key>TH_SettingBlockPanel_poppubilc.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,318},{224,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,73}}</string>
				<key>sourceSize</key>
				<string>{224,73}</string>
			</dict>

			<key>TH_SettingBlockPanel_poppubilc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{224,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,73}}</string>
				<key>sourceSize</key>
				<string>{224,73}</string>
			</dict>

			<key>TH_SettingBlockPanel_privice0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{239,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,30}}</string>
				<key>sourceSize</key>
				<string>{239,30}</string>
			</dict>

			<key>TH_SettingBlockPanel_privice1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,5},{269,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,30}}</string>
				<key>sourceSize</key>
				<string>{269,30}</string>
			</dict>

			<key>TH_SettingBlockPanel_scrpubilc.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,392},{224,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,73}}</string>
				<key>sourceSize</key>
				<string>{224,73}</string>
			</dict>

			<key>TH_SettingBlockPanel_scrpubilc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,392},{224,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,73}}</string>
				<key>sourceSize</key>
				<string>{224,73}</string>
			</dict>

			<key>TH_SettingBlockPanel_spLineBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{996,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{996,4}}</string>
				<key>sourceSize</key>
				<string>{996,4}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>TH_SettingBlock_images.png</string>
			</dict>
		</dict>
</plist>