<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_bgSet_Cb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,185},{170,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,52}}</string>
				<key>sourceSize</key>
				<string>{170,52}</string>
			</dict>

			<key>TH_bgSet_Cb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,185},{170,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,52}}</string>
				<key>sourceSize</key>
				<string>{170,52}</string>
			</dict>

			<key>TH_bgSet_Tbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,0},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,117},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,120},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,0},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,117},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,117},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,3},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,0},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,117},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,0},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_Tbg_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,0},{148,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,116}}</string>
				<key>sourceSize</key>
				<string>{148,116}</string>
			</dict>

			<key>TH_bgSet_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,56},{257,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,128}}</string>
				<key>sourceSize</key>
				<string>{257,128}</string>
			</dict>

			<key>TH_bgSet_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,56},{257,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,128}}</string>
				<key>sourceSize</key>
				<string>{257,128}</string>
			</dict>

			<key>TH_bgSet_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,56},{257,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,128}}</string>
				<key>sourceSize</key>
				<string>{257,128}</string>
			</dict>

			<key>TH_bgSet_bg_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,56},{257,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,128}}</string>
				<key>sourceSize</key>
				<string>{257,128}</string>
			</dict>

			<key>TH_bgSet_font1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{172,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,28}}</string>
				<key>sourceSize</key>
				<string>{172,28}</string>
			</dict>

			<key>TH_bgSet_font2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{171,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,28}}</string>
				<key>sourceSize</key>
				<string>{171,28}</string>
			</dict>

			<key>TH_bgSet_headBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3},{840,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,52}}</string>
				<key>sourceSize</key>
				<string>{840,52}</string>
			</dict>

			<key>TH_bgSet_spLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1084,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1084,2}}</string>
				<key>sourceSize</key>
				<string>{1084,2}</string>
			</dict>

			<key>TH_bgSetbg_selcet.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,185},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,256}</string>
			<key>textureFileName</key>
			<string>THS_bgSetImg.png</string>
			</dict>
		</dict>
</plist>