<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_titile_bg_fullborder_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,73}}</string>
                <key>sourceSize</key>
                <string>{228,73}</string>
            </dict>
            <key>common_titile_bg_leftborder.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,77},{214,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,73}}</string>
                <key>sourceSize</key>
                <string>{214,73}</string>
            </dict>
            <key>common_titile_bg_leftborder_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{214,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,73}}</string>
                <key>sourceSize</key>
                <string>{214,73}</string>
            </dict>
            <key>common_titile_bg_noborder.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,152},{210,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,73}}</string>
                <key>sourceSize</key>
                <string>{210,73}</string>
            </dict>
            <key>common_titile_bg_noborder_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,77},{210,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,73}}</string>
                <key>sourceSize</key>
                <string>{210,73}</string>
            </dict>
            <key>common_titile_bg_rightborder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{214,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,73}}</string>
                <key>sourceSize</key>
                <string>{214,73}</string>
            </dict>
            <key>common_titile_bg_rightborder_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{214,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,73}}</string>
                <key>sourceSize</key>
                <string>{214,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_title_borderbg.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0acafdc31c3f9138ae5ab56b66acccb5$</string>
            <key>textureFileName</key>
            <string>common_title_borderbg.png</string>
        </dict>
    </dict>
</plist>
