<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby.btn_task_ljjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,74},{184,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,68}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>lobby.btn_task_ljjl_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{184,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,68}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>lobby.btn_task_qwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,70}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>lobby.btn_task_qwc_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,70}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>lobby.btn_task_ywc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{184,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,68}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>lobby.tag_task01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby.tag_task02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,434},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,362},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,404},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,332},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,260},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>lobby_task_img_head_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taskPanel_Btns.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f82dd23bba311599e0c31f410d08e70$</string>
            <key>textureFileName</key>
            <string>taskPanel_Btns.png</string>
        </dict>
    </dict>
</plist>
