<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby.tea.btn-page-3days-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-3days-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,232},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-7days-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-7days-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,174},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-qiantian-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,116},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-qiantian-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,58},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-today-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,174},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-today-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-yesterday-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.btn-page-yesterday-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,0},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,56}}</string>
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>

			<key>lobby.tea.img_asc.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,290},{10,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,22}}</string>
				<key>sourceSize</key>
				<string>{10,22}</string>
			</dict>

			<key>lobby.tea.img_asc_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,290},{10,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,22}}</string>
				<key>sourceSize</key>
				<string>{10,22}</string>
			</dict>

			<key>lobby.tea.tag-fdyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,290},{132,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,42}}</string>
				<key>sourceSize</key>
				<string>{132,42}</string>
			</dict>

			<key>lobby.tea.tag-qyqsh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{150,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,35}}</string>
				<key>sourceSize</key>
				<string>{150,35}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{316,334}</string>
			<key>textureFileName</key>
			<string>TH_MemberPanel.png</string>
			</dict>
		</dict>
</plist>