<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bofang-deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,209},{60,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,69}}</string>
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>

			<key>bofang.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,279},{60,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,69}}</string>
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>

			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,209},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>close_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>houtui-deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,209},{81,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,65}}</string>
				<key>sourceSize</key>
				<string>{81,65}</string>
			</dict>

			<key>houtui.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,275},{81,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,65}}</string>
				<key>sourceSize</key>
				<string>{81,65}</string>
			</dict>

			<key>huifangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{475,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,118}}</string>
				<key>sourceSize</key>
				<string>{475,118}</string>
			</dict>

			<key>playEnd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,119},{333,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{333,89}}</string>
				<key>sourceSize</key>
				<string>{333,89}</string>
			</dict>

			<key>qianjin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,385},{81,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,65}}</string>
				<key>sourceSize</key>
				<string>{81,65}</string>
			</dict>

			<key>qianjin_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,385},{81,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,65}}</string>
				<key>sourceSize</key>
				<string>{81,65}</string>
			</dict>

			<key>replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,451},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,46}}</string>
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>

			<key>replay_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,451},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,46}}</string>
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>

			<key>stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,341},{62,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,66}}</string>
				<key>sourceSize</key>
				<string>{62,66}</string>
			</dict>

			<key>stop_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,408},{62,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,66}}</string>
				<key>sourceSize</key>
				<string>{62,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>MajionRecord.png</string>
			</dict>
		</dict>
</plist>