<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby.bg_exchage_cell.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,799},{203,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,274}}</string>
				<key>sourceSize</key>
				<string>{203,274}</string>
			</dict>

			<key>lobby.bg_exchage_layout.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1064,626}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1064,626}}</string>
				<key>sourceSize</key>
				<string>{1064,626}</string>
			</dict>

			<key>lobby.bg_exchage_line0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,685},{1040,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1040,55}}</string>
				<key>sourceSize</key>
				<string>{1040,55}</string>
			</dict>

			<key>lobby.bg_exchage_line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,628},{1040,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1040,55}}</string>
				<key>sourceSize</key>
				<string>{1040,55}</string>
			</dict>

			<key>lobby.bg_exchage_line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,742},{1040,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1040,55}}</string>
				<key>sourceSize</key>
				<string>{1040,55}</string>
			</dict>

			<key>lobby.btn_page_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,890},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>lobby.btn_page_next_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,955},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>lobby.btn_page_next_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,890},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>lobby.btn_page_prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,799},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>lobby.btn_page_prev_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,955},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>lobby.btn_page_prev_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,864},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>lobby.exchange_meun_dh_radio.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,890},{202,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,89}}</string>
				<key>sourceSize</key>
				<string>{202,89}</string>
			</dict>

			<key>lobby.exchange_meun_dh_radio_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,799},{202,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,89}}</string>
				<key>sourceSize</key>
				<string>{202,89}</string>
			</dict>

			<key>lobby.exchange_meun_dhjl_radio.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,799},{202,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,89}}</string>
				<key>sourceSize</key>
				<string>{202,89}</string>
			</dict>

			<key>lobby.exchange_meun_dhjl_radio_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,981},{202,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,89}}</string>
				<key>sourceSize</key>
				<string>{202,89}</string>
			</dict>

			<key>lobby.tag_exchage_ddh.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1020},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,28}}</string>
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>

			<key>lobby.tag_exchage_dhsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1020},{111,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,28}}</string>
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>

			<key>lobby.tag_exchage_line_shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,929},{1,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1,55}}</string>
				<key>sourceSize</key>
				<string>{1,55}</string>
			</dict>

			<key>lobby.tag_exchage_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1020},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>

			<key>lobby.tag_exchage_sp.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1020},{55,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,29}}</string>
				<key>sourceSize</key>
				<string>{55,29}</string>
			</dict>

			<key>lobby.tag_exchage_zt.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1020},{55,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,28}}</string>
				<key>sourceSize</key>
				<string>{55,28}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1066,1075}</string>
			<key>textureFileName</key>
			<string>lobby.Exchange.png</string>
			</dict>
		</dict>
</plist>