<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_BMB_btn_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,824},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>Lobby_BMB_btn_bind_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,724},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>Lobby_BMB_btn_custom.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>Lobby_BMB_btn_custom_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1816},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>Lobby_BMB_btn_greengame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1845},{149,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,44}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
            <key>Lobby_BMB_btn_greengame_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{149,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,44}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
            <key>Lobby_BMB_btn_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>Lobby_BMB_btn_line_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>Lobby_BMB_btn_realName.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1223},{99,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>Lobby_BMB_btn_realName_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1122},{99,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>Lobby_BMB_btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,622},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>Lobby_BMB_btn_record_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,520},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>Lobby_BMB_btn_recruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1324},{96,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,43}}</string>
                <key>sourceSize</key>
                <string>{96,43}</string>
            </dict>
            <key>Lobby_BMB_btn_recruit_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1422},{94,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,43}}</string>
                <key>sourceSize</key>
                <string>{94,43}</string>
            </dict>
            <key>Lobby_BMB_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1023},{97,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,44}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>Lobby_BMB_btn_share_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,924},{97,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,44}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>Lobby_BMB_btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,416},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{102,44}</string>
            </dict>
            <key>Lobby_BMB_btn_store_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,312},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{102,44}</string>
            </dict>
            <key>Lobby_BMB_bubble_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1715},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>Lobby_BMB_bubble_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{320,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,76}}</string>
                <key>sourceSize</key>
                <string>{320,76}</string>
            </dict>
            <key>Lobby_BMB_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1224,70}}</string>
                <key>sourceSize</key>
                <string>{1224,70}</string>
            </dict>
            <key>Lobby_BMB_redpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1694},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>Lobby_BMB_reporting.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,208},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,46}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>Lobby_BMB_reporting_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,104},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,46}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>Lobby_BMB_tutelage.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1694},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>Lobby_BMB_tutelage_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1996},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ButtomMeunBlock.png</string>
            <key>size</key>
            <string>{128,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07f8d2ecaee122e8b003fdaa52861cf8$</string>
            <key>textureFileName</key>
            <string>ButtomMeunBlock.png</string>
        </dict>
    </dict>
</plist>
