<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dom.add_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,314},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

			<key>dom.add_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,258},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

			<key>dom.add_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,314},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

			<key>dom.bubble_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{431,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{431,158}}</string>
				<key>sourceSize</key>
				<string>{431,158}</string>
			</dict>

			<key>dom.checkbox_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,306},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.checkbox_bg_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,266},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.checkbox_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,386},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.checkbox_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,226},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{224,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,64}}</string>
				<key>sourceSize</key>
				<string>{224,64}</string>
			</dict>

			<key>dom.question_tag.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,266},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>dom.radio_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,306},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.radio_bg_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,266},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.radio_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,226},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.radio_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,346},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>dom.rilabbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,226},{83,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,30}}</string>
				<key>sourceSize</key>
				<string>{83,30}</string>
			</dict>

			<key>dom.sub_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

			<key>dom.sub_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,370},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

			<key>dom.sub_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,370},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{433,426}</string>
			<key>textureFileName</key>
			<string>RichDom.png</string>
			</dict>
		</dict>
</plist>