<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TH_mem_bg-cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{819,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,78}}</string>
                <key>sourceSize</key>
                <string>{819,78}</string>
            </dict>
            <key>TH_mem_bg-cell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,100},{1116,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1116,80}}</string>
                <key>sourceSize</key>
                <string>{1116,80}</string>
            </dict>
            <key>TH_mem_btn-allow-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1888},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_mem_btn-allow.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1837},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_mem_btn-cancel-mgr-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1218},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>TH_mem_btn-cancel-mgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1556},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>TH_mem_btn-deny-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1786},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_mem_btn-deny.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1735},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_mem_btn-diss-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,954},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>TH_mem_btn-diss.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,814},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>TH_mem_btn-remove-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1412},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_mem_btn-remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1094},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>TH_mem_btn-setmanager-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>TH_mem_btn-setmanager.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>TH_mem_check_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{700,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,150}}</string>
                <key>sourceSize</key>
                <string>{700,150}</string>
            </dict>
            <key>TH_mem_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>TH_mem_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1611},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,122}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>TH_mem_img-line-state.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,118},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>TH_mem_img-offline-state.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,100},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>TH_mem_img-remark-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,814},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>TH_mem_img-remark.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1218},{283,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,30}}</string>
                <key>sourceSize</key>
                <string>{283,30}</string>
            </dict>
            <key>TH_mem_memberInfoBg_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{390,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,50}}</string>
                <key>sourceSize</key>
                <string>{390,50}</string>
            </dict>
            <key>TH_mem_tag-mem.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1888},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>TH_mem_tag-mest.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1358},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>TH_mem_tipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1094},{460,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,40}}</string>
                <key>sourceSize</key>
                <string>{460,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TH_TeaHouseMemberCells.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75b7030038018d71ab4c22c4d63af0b4$</string>
            <key>textureFileName</key>
            <string>TH_TeaHouseMemberCells.png</string>
        </dict>
    </dict>
</plist>
