<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>announcement_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{580,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,36}}</string>
                <key>sourceSize</key>
                <string>{580,36}</string>
            </dict>
            <key>editNotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,670},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>editNotice_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,636},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>managerBtn_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,636},{142,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,36}}</string>
                <key>sourceSize</key>
                <string>{142,36}</string>
            </dict>
            <key>managerDes.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{632,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,36}}</string>
                <key>sourceSize</key>
                <string>{632,36}</string>
            </dict>
            <key>slogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,59}}</string>
                <key>sourceSize</key>
                <string>{328,59}</string>
            </dict>
            <key>subimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,704},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeaHouse_new_Lobby.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:394648821fee980729aa6d954baff959$</string>
            <key>textureFileName</key>
            <string>TeaHouse_new_Lobby.png</string>
        </dict>
    </dict>
</plist>
