<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>JoinQyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1507},{172,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,37}}</string>
				<key>sourceSize</key>
				<string>{172,37}</string>
			</dict>

			<key>bg-TeaHousePlane_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,720}}</string>
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>

			<key>btn_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1792},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>btn_copy_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1552},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1628},{228,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,81}}</string>
				<key>sourceSize</key>
				<string>{228,81}</string>
			</dict>

			<key>btn_green_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1470},{228,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,81}}</string>
				<key>sourceSize</key>
				<string>{228,81}</string>
			</dict>

			<key>btn_to_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1415},{100,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,41}}</string>
				<key>sourceSize</key>
				<string>{100,41}</string>
			</dict>

			<key>btn_to_top_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1373},{100,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,41}}</string>
				<key>sourceSize</key>
				<string>{100,41}</string>
			</dict>

			<key>btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1291},{226,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{226,81}}</string>
				<key>sourceSize</key>
				<string>{228,81}</string>
			</dict>

			<key>btn_yellow_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1710},{228,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,81}}</string>
				<key>sourceSize</key>
				<string>{228,81}</string>
			</dict>

			<key>createbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1849},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>editNotice.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1507},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>editNotice_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1507},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>go_qyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1718},{308,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,89}}</string>
				<key>sourceSize</key>
				<string>{308,89}</string>
			</dict>

			<key>go_qyq_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1628},{308,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,89}}</string>
				<key>sourceSize</key>
				<string>{308,89}</string>
			</dict>

			<key>inputBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1991},{312,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{312,50}}</string>
				<key>sourceSize</key>
				<string>{312,50}</string>
			</dict>

			<key>joinQyqTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1927},{172,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,37}}</string>
				<key>sourceSize</key>
				<string>{172,37}</string>
			</dict>

			<key>joinTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1991},{300,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,48}}</string>
				<key>sourceSize</key>
				<string>{300,48}</string>
			</dict>

			<key>managerBtn_font.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1997},{142,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,36}}</string>
				<key>sourceSize</key>
				<string>{142,36}</string>
			</dict>

			<key>managerDes.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1470},{632,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{632,36}}</string>
				<key>sourceSize</key>
				<string>{632,36}</string>
			</dict>

			<key>noJoinQyq_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,721},{850,569}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,151},{850,569}}</string>
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>

			<key>qyqInputBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1507},{390,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,60}}</string>
				<key>sourceSize</key>
				<string>{390,60}</string>
			</dict>

			<key>qyqItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1568},{335,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{335,422}}</string>
				<key>sourceSize</key>
				<string>{338,424}</string>
			</dict>

			<key>qyqName.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1927},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,31}}</string>
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>

			<key>qyqtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1849},{271,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,77}}</string>
				<key>sourceSize</key>
				<string>{271,77}</string>
			</dict>

			<key>slogan.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1568},{328,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{328,59}}</string>
				<key>sourceSize</key>
				<string>{328,59}</string>
			</dict>

			<key>subimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1959},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>sureTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1997},{91,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,36}}</string>
				<key>sourceSize</key>
				<string>{91,36}</string>
			</dict>

			<key>tipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1291},{710,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{710,178}}</string>
				<key>sourceSize</key>
				<string>{710,184}</string>
			</dict>

			<key>tipsTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1923},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>zixunBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1808},{280,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,40}}</string>
				<key>sourceSize</key>
				<string>{280,40}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>teahouseCreate.png</string>
			</dict>
		</dict>
</plist>