<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emotion_09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>emotion_09_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,125},{121,123}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{121,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>emotion_09_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{121,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{121,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>emotion_09_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{121,121}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{121,121}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>emotion_09_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{121,123}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E9.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5ebe7da9f7c9b7c44f00d8af5398676$</string>
            <key>textureFileName</key>
            <string>E9.png</string>
        </dict>
    </dict>
</plist>
