<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby_sign_BigBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,611},{338,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{338,209}}</string>
				<key>sourceSize</key>
				<string>{338,209}</string>
			</dict>

			<key>lobby_sign_BigBg_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,611},{338,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{338,209}}</string>
				<key>sourceSize</key>
				<string>{338,209}</string>
			</dict>

			<key>lobby_sign_SignDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,981},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,26}}</string>
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>

			<key>lobby_sign_closeBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,912},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>lobby_sign_closeBtn_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,821},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>lobby_sign_isClick.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,821},{114,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,90}}</string>
				<key>sourceSize</key>
				<string>{114,90}</string>
			</dict>

			<key>lobby_sign_product.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,912},{110,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{110,68}}</string>
				<key>sourceSize</key>
				<string>{112,68}</string>
			</dict>

			<key>lobby_sign_smallBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,611},{168,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,209}}</string>
				<key>sourceSize</key>
				<string>{168,209}</string>
			</dict>

			<key>lobby_sign_smallBg_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,611},{168,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,209}}</string>
				<key>sourceSize</key>
				<string>{168,209}</string>
			</dict>

			<key>lobby_sign_tipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1269,610}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1269,610}}</string>
				<key>sourceSize</key>
				<string>{1269,610}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>lobby_signPanel.png</string>
			</dict>
		</dict>
</plist>