<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Majon.liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,187},{114,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,67}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>btn_more_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,192},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>btn_more_rule_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,142},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>bupai_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,133},{202,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,51}}</string>
                <key>sourceSize</key>
                <string>{202,51}</string>
            </dict>
            <key>bupai_unchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,187},{202,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,51}}</string>
                <key>sourceSize</key>
                <string>{202,51}</string>
            </dict>
            <key>cardstate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,28},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>duogangTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{334,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,46}}</string>
                <key>sourceSize</key>
                <string>{334,46}</string>
            </dict>
            <key>haidilao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{403,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,103}}</string>
                <key>sourceSize</key>
                <string>{403,103}</string>
            </dict>
            <key>majan.fanghaopaiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,186},{114,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,90}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>majan.pilaihengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>majan.pointer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,386},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>majan.pointer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,242},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>majan.pointer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,278},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>majan.pointer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,386},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>majan.pointer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,278},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>majan.touxiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,391},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>majan.touxiangyoudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,133},{126,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,64}}</string>
                <key>sourceSize</key>
                <string>{126,64}</string>
            </dict>
            <key>majan.wanfadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,80},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>majon_tuoguantext.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,24}}</string>
                <key>sourceSize</key>
                <string>{443,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MajonRoomPic.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86f438e1dff595b9fe0cc1a1376dac51$</string>
            <key>textureFileName</key>
            <string>MajonRoomPic.png</string>
        </dict>
    </dict>
</plist>
