<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Login_Img_agr0.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,457},{46,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{46,23}}</string>
				<key>sourceSize</key>
				<string>{46,26}</string>
			</dict>

			<key>Login_Img_agr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,538},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>

			<key>Login_Logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{500,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{500,107}}</string>
				<key>sourceSize</key>
				<string>{500,107}</string>
			</dict>

			<key>Login_btn_Download.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,589},{201,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,73}}</string>
				<key>sourceSize</key>
				<string>{201,73}</string>
			</dict>

			<key>Login_btn_Guest.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,109},{332,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,118}}</string>
				<key>sourceSize</key>
				<string>{332,118}</string>
			</dict>

			<key>Login_btn_GuestDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{332,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,118}}</string>
				<key>sourceSize</key>
				<string>{332,118}</string>
			</dict>

			<key>Login_btn_Install.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,589},{201,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,73}}</string>
				<key>sourceSize</key>
				<string>{201,73}</string>
			</dict>

			<key>Login_btn_Phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,109},{332,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,118}}</string>
				<key>sourceSize</key>
				<string>{332,118}</string>
			</dict>

			<key>Login_btn_PhoneDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{332,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,118}}</string>
				<key>sourceSize</key>
				<string>{332,118}</string>
			</dict>

			<key>Login_btn_Wechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,229},{330,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{330,118}}</string>
				<key>sourceSize</key>
				<string>{332,118}</string>
			</dict>

			<key>Login_btn_WechatDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,349},{332,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,118}}</string>
				<key>sourceSize</key>
				<string>{332,118}</string>
			</dict>

			<key>Login_btn_policy.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,429},{97,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,26}}</string>
				<key>sourceSize</key>
				<string>{97,26}</string>
			</dict>

			<key>Login_btn_policy_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,377},{142,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,24}}</string>
				<key>sourceSize</key>
				<string>{142,24}</string>
			</dict>

			<key>Login_btn_userAgr.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,349},{145,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,26}}</string>
				<key>sourceSize</key>
				<string>{145,26}</string>
			</dict>

			<key>Login_btn_userAgr_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,403},{133,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,24}}</string>
				<key>sourceSize</key>
				<string>{133,24}</string>
			</dict>

			<key>Login_check_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,512},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{24,24}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>Login_check_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,482},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{29,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{668,664}</string>
			<key>textureFileName</key>
			<string>Login_Scene.png</string>
			</dict>
		</dict>
</plist>