<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SharePanel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{595,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,270}}</string>
                <key>sourceSize</key>
                <string>{595,270}</string>
            </dict>
            <key>btn_SharePanel_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>btn_SharePanel_dd_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,522},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>btn_SharePanel_qyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,729},{128,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,183}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>btn_SharePanel_qyq_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{128,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,183}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>btn_SharePanel_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,392},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>btn_SharePanel_wx_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,262},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>btn_xianliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,782},{128,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,182}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>btn_xianliao_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,652},{128,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,182}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>btn_xiaoxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,132},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>btn_xiaoxin_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SharePanel.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b18232353c8d7dd94cbf36832d3758$</string>
            <key>textureFileName</key>
            <string>SharePanel.png</string>
        </dict>
    </dict>
</plist>
