<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Superfzb_font.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,983},{140,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,28}}</string>
				<key>sourceSize</key>
				<string>{140,28}</string>
			</dict>

			<key>TH_MIX_AIchoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,304},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>

			<key>TH_MIX_emptypos.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,389},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_MIX_maxemptynum.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,983},{140,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,28}}</string>
				<key>sourceSize</key>
				<string>{140,28}</string>
			</dict>

			<key>TH_MIX_mixfloor.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,418},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_mix_setNums.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,983},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>

			<key>TH_mix_waitNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,733},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>Th_mixFloorType.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,585},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>thmAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,473},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,55}}</string>
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>

			<key>thmAddDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,529},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,55}}</string>
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>

			<key>thmBorder.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{231,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,143}}</string>
				<key>sourceSize</key>
				<string>{231,143}</string>
			</dict>

			<key>thmBubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{488,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{488,192}}</string>
				<key>sourceSize</key>
				<string>{488,192}</string>
			</dict>

			<key>thmCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,519},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,26}}</string>
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>

			<key>thmClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,765},{223,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,132}}</string>
				<key>sourceSize</key>
				<string>{223,132}</string>
			</dict>

			<key>thmDefault.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,733},{111,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,27}}</string>
				<key>sourceSize</key>
				<string>{111,27}</string>
			</dict>

			<key>thmDelete.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,621},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,55}}</string>
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>

			<key>thmDeleteDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,677},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,55}}</string>
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>

			<key>thmEdit.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,334},{111,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,28}}</string>
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>

			<key>thmFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,546},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>

			<key>thmHall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{322,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{322,84}}</string>
				<key>sourceSize</key>
				<string>{322,84}</string>
			</dict>

			<key>thmHallDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{321,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,83}}</string>
				<key>sourceSize</key>
				<string>{321,83}</string>
			</dict>

			<key>thmHint.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,685},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,32}}</string>
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>

			<key>thmMenuAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,898},{62,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,124}}</string>
				<key>sourceSize</key>
				<string>{62,124}</string>
			</dict>

			<key>thmMenuAddDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,304},{62,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,124}}</string>
				<key>sourceSize</key>
				<string>{62,124}</string>
			</dict>

			<key>thmMix.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,613},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,71}}</string>
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>

			<key>thmMixDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,447},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,71}}</string>
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>

			<key>thmOpen.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,765},{223,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,132}}</string>
				<key>sourceSize</key>
				<string>{223,132}</string>
			</dict>

			<key>thmRowBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,110}}</string>
				<key>sourceSize</key>
				<string>{640,110}</string>
			</dict>

			<key>thmSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,898},{222,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,84}}</string>
				<key>sourceSize</key>
				<string>{222,84}</string>
			</dict>

			<key>thmSwitch.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,585},{110,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,27}}</string>
				<key>sourceSize</key>
				<string>{110,27}</string>
			</dict>

			<key>thmTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,547},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>thmTitleAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,473},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>thmUnselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,898},{222,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,84}}</string>
				<key>sourceSize</key>
				<string>{222,84}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>TH_Mix.png</string>
			</dict>
		</dict>
</plist>