<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby.bg_gd_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{189,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,48}}</string>
				<key>sourceSize</key>
				<string>{189,48}</string>
			</dict>

			<key>lobby.btn_gd_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>lobby.btn_gd_add_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,50},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>lobby.btn_gd_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,860},{72,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,53}}</string>
				<key>sourceSize</key>
				<string>{72,53}</string>
			</dict>

			<key>lobby.btn_gd_chuji.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,405},{290,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,403}}</string>
				<key>sourceSize</key>
				<string>{290,403}</string>
			</dict>

			<key>lobby.btn_gd_chuji_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{290,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,403}}</string>
				<key>sourceSize</key>
				<string>{290,403}</string>
			</dict>

			<key>lobby.btn_gd_gaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{290,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,403}}</string>
				<key>sourceSize</key>
				<string>{290,403}</string>
			</dict>

			<key>lobby.btn_gd_gaoji_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{290,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,403}}</string>
				<key>sourceSize</key>
				<string>{290,403}</string>
			</dict>

			<key>lobby.btn_gd_xinshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,405},{290,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,403}}</string>
				<key>sourceSize</key>
				<string>{290,403}</string>
			</dict>

			<key>lobby.btn_gd_xinshou_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,0},{290,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,403}}</string>
				<key>sourceSize</key>
				<string>{290,403}</string>
			</dict>

			<key>lobby.tag_gd_bean.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,880},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,42}}</string>
				<key>sourceSize</key>
				<string>{44,42}</string>
			</dict>

			<key>lobby.tag_gd_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,100},{43,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,46}}</string>
				<key>sourceSize</key>
				<string>{43,46}</string>
			</dict>

			<key>lobby.tag_gd_chuji.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,810},{184,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,68}}</string>
				<key>sourceSize</key>
				<string>{184,68}</string>
			</dict>

			<key>lobby.tag_gd_chuji_person.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,880},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,20}}</string>
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>

			<key>lobby.tag_gd_df.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{87,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,39}}</string>
				<key>sourceSize</key>
				<string>{87,39}</string>
			</dict>

			<key>lobby.tag_gd_gaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,810},{183,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,68}}</string>
				<key>sourceSize</key>
				<string>{183,68}</string>
			</dict>

			<key>lobby.tag_gd_gaoji_person.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,880},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,20}}</string>
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>

			<key>lobby.tag_gd_nosite.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,810},{74,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,82}}</string>
				<key>sourceSize</key>
				<string>{74,82}</string>
			</dict>

			<key>lobby.tag_gd_site.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,810},{74,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,82}}</string>
				<key>sourceSize</key>
				<string>{74,82}</string>
			</dict>

			<key>lobby.tag_gd_xinshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,810},{184,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,68}}</string>
				<key>sourceSize</key>
				<string>{184,68}</string>
			</dict>

			<key>lobby.tag_gd_xinshou_person.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,902},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,20}}</string>
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{926,924}</string>
			<key>textureFileName</key>
			<string>GDGameRoom.png</string>
			</dict>
		</dict>
</plist>