<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Share_Btn_pyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,0},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_Btn_pyq_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,287},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_Top_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{246,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{246,72}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>Share_btn_DD.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,0},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_DD_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,360},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_WX.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,647},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_WX_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,574},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_XL.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,73},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_XL_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,647},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_XX.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_XX_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{228,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,286}}</string>
				<key>sourceSize</key>
				<string>{228,286}</string>
			</dict>

			<key>Share_btn_weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,934},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>Share_btn_weixin_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,934},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>Share_btn_xianliao.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,934},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>Share_btn_xianliao_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,934},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>Share_btn_xiaoxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,934},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>Share_btn_xiaoxin_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,934},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>Common_Share_Image.png</string>
			</dict>
		</dict>
</plist>