<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_rank_bgborder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,453}}</string>
                <key>sourceSize</key>
                <string>{570,453}</string>
            </dict>
            <key>bg_rank_bginside.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{547,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,428}}</string>
                <key>sourceSize</key>
                <string>{547,428}</string>
            </dict>
            <key>bg_rank_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>btn_rank_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,59},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_rank_exp_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,33},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>font_rank_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,33},{140,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{140,28}</string>
            </dict>
            <key>font_rank_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,28},{188,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,29}}</string>
                <key>sourceSize</key>
                <string>{188,29}</string>
            </dict>
            <key>font_rank_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{135,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,30}}</string>
                <key>sourceSize</key>
                <string>{135,30}</string>
            </dict>
            <key>font_rank_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{195,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,29}}</string>
                <key>sourceSize</key>
                <string>{195,29}</string>
            </dict>
            <key>font_rank_label5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{213,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,24}}</string>
                <key>sourceSize</key>
                <string>{213,24}</string>
            </dict>
            <key>font_rank_label6.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,33},{112,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,24}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>font_rank_label7.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,59},{124,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>font_rank_label7_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,139},{124,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tea_rank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d8bebdcb42be5c4e43b160cfb5e560$</string>
            <key>textureFileName</key>
            <string>tea_rank.png</string>
        </dict>
    </dict>
</plist>
