<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_Dela_Floor_font1.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,417},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,30}}</string>
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>

			<key>TH_Dela_Floor_font10.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,386},{73,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,30}}</string>
				<key>sourceSize</key>
				<string>{73,30}</string>
			</dict>

			<key>TH_Dela_Floor_font11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,379},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,472},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,255},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,441},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,317},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>

			<key>TH_Dela_Floor_font2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,479},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,30}}</string>
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>

			<key>TH_Dela_Floor_font20.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,224},{103,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,30}}</string>
				<key>sourceSize</key>
				<string>{103,30}</string>
			</dict>

			<key>TH_Dela_Floor_font3.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,479},{73,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,30}}</string>
				<key>sourceSize</key>
				<string>{73,30}</string>
			</dict>

			<key>TH_Dela_Floor_font4.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,286},{71,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,30}}</string>
				<key>sourceSize</key>
				<string>{71,30}</string>
			</dict>

			<key>TH_Dela_Floor_font5.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,417},{73,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,30}}</string>
				<key>sourceSize</key>
				<string>{73,30}</string>
			</dict>

			<key>TH_Dela_Floor_font6.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,448},{73,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,30}}</string>
				<key>sourceSize</key>
				<string>{73,30}</string>
			</dict>

			<key>TH_Dela_Floor_font7.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,386},{73,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,30}}</string>
				<key>sourceSize</key>
				<string>{73,30}</string>
			</dict>

			<key>TH_Dela_Floor_font8.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,448},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,30}}</string>
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>

			<key>TH_Dela_Floor_font9.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,255},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,30}}</string>
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>

			<key>TH_Dela_ItemLeftFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{186,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,29}}</string>
				<key>sourceSize</key>
				<string>{186,29}</string>
			</dict>

			<key>TH_Dela_ItemRightFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{230,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,29}}</string>
				<key>sourceSize</key>
				<string>{230,29}</string>
			</dict>

			<key>TH_Dela_Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>tdsAbove.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{185,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,29}}</string>
				<key>sourceSize</key>
				<string>{185,29}</string>
			</dict>

			<key>tdsHint.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,255},{80,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,130}}</string>
				<key>sourceSize</key>
				<string>{80,130}</string>
			</dict>

			<key>tdsInvalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{143,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,29}}</string>
				<key>sourceSize</key>
				<string>{143,29}</string>
			</dict>

			<key>tdsSuper.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{201,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,29}}</string>
				<key>sourceSize</key>
				<string>{201,29}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>THS_dela_panel.png</string>
			</dict>
		</dict>
</plist>