<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cancel-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,813},{201,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,73}}</string>
                <key>sourceSize</key>
                <string>{201,73}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{201,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,73}}</string>
                <key>sourceSize</key>
                <string>{201,73}</string>
            </dict>
            <key>btn_confirm-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>btn_ok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,141},{229,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,102}}</string>
                <key>sourceSize</key>
                <string>{229,102}</string>
            </dict>
            <key>btn_ok1_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,37},{229,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,102}}</string>
                <key>sourceSize</key>
                <string>{229,102}</string>
            </dict>
            <key>btn_ok_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>btn_refuse_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>cancel-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>confim-deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>confim.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,813},{200,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>dissPlayerIconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,813},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>dissbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{763,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{763,480}}</string>
                <key>sourceSize</key>
                <string>{763,480}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,813},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jsfj-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,484},{342,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,112}}</string>
                <key>sourceSize</key>
                <string>{342,112}</string>
            </dict>
            <key>sqjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,245},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>tishiBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{547,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,58}}</string>
                <key>sourceSize</key>
                <string>{547,58}</string>
            </dict>
            <key>tsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,245},{566,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,215}}</string>
                <key>sourceSize</key>
                <string>{566,215}</string>
            </dict>
            <key>waitBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{467,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,58}}</string>
                <key>sourceSize</key>
                <string>{467,58}</string>
            </dict>
            <key>waitText.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{238,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,33}}</string>
                <key>sourceSize</key>
                <string>{238,33}</string>
            </dict>
            <key>wxts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{342,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,112}}</string>
                <key>sourceSize</key>
                <string>{342,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DissRoom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a9fdceacd782ed2effa166928340966$</string>
            <key>textureFileName</key>
            <string>DissRoom.png</string>
        </dict>
    </dict>
</plist>
