<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fcm_PlayerHeadInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,310},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,240},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>game_fan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,456},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>game_s_baofeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,376},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>game_s_baojiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,376},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>game_s_baoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,198},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>game_s_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,134},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>hostImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,262},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,262},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>mj_g_avatar_female_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,244},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mj_g_avatar_female_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,178},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mj_g_avatar_female_lixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,112},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mj_g_game_avatar_cell_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,68},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>mj_g_game_avatar_cell_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{126,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,64}}</string>
                <key>sourceSize</key>
                <string>{126,64}</string>
            </dict>
            <key>mj_g_game_fan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,383},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>mj_g_game_lai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,21},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>mj_g_game_lai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,290},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>mj_g_game_lai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,174},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>mj_g_game_lai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,215},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>mj_g_game_number_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{49,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,17}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>mj_g_game_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,21},{89,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,44}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>mj_g_message_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{319,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,84}}</string>
                <key>sourceSize</key>
                <string>{319,84}</string>
            </dict>
            <key>mj_g_message_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{319,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,84}}</string>
                <key>sourceSize</key>
                <string>{319,84}</string>
            </dict>
            <key>mj_g_message_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,84}}</string>
                <key>sourceSize</key>
                <string>{319,84}</string>
            </dict>
            <key>mj_g_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,262},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>piao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,174},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>piao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,215},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>piao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,310},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>qp_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,134},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_g_player.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6baf3cf0de65f309bb64c1ca96348cd$</string>
            <key>textureFileName</key>
            <string>mj_g_player.png</string>
        </dict>
    </dict>
</plist>
