<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ApplyMergeUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,544},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>btn_ApplyMergeUser_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,410},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>btn_CancelMergeUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_CancelMergeUser_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_MergeUserTab_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1798},{170,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,43}}</string>
                <key>sourceSize</key>
                <string>{170,43}</string>
            </dict>
            <key>btn_MergeUserTab_uncheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1782},{170,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,43}}</string>
                <key>sourceSize</key>
                <string>{170,43}</string>
            </dict>
            <key>btn_RemoveAll_User.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_RemoveAll_User_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_SelectAll_User.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_SelectAll_User_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_UnDoMergeUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>btn_UnDoMergeUser_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>cbx_not_vaild.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1954},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>input_MergeUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1300},{304,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,48}}</string>
                <key>sourceSize</key>
                <string>{304,48}</string>
            </dict>
            <key>input_UserScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1606},{190,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,46}}</string>
                <key>sourceSize</key>
                <string>{190,46}</string>
            </dict>
            <key>item_MergeUser_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1160},{620,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,48}}</string>
                <key>sourceSize</key>
                <string>{620,48}</string>
            </dict>
            <key>item_MergeUser_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,678},{620,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,48}}</string>
                <key>sourceSize</key>
                <string>{620,48}</string>
            </dict>
            <key>line_MergeUser_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{866,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,4}}</string>
                <key>sourceSize</key>
                <string>{866,4}</string>
            </dict>
            <key>title_MergeUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>title_MergeUser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>title_MergeUser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TH_MergeUser.png</string>
            <key>size</key>
            <string>{128,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62586ddfa0a3e31d2fb30bd222a3367c$</string>
            <key>textureFileName</key>
            <string>TH_MergeUser.png</string>
        </dict>
    </dict>
</plist>
