<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common.btn_blue_160x66.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,337},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,66}}</string>
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>

			<key>common.btn_blue_160x66_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,269},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,66}}</string>
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>

			<key>common.btn_blue_171x61.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,694},{171,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,61}}</string>
				<key>sourceSize</key>
				<string>{171,61}</string>
			</dict>

			<key>common.btn_blue_171x61_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,649},{171,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,61}}</string>
				<key>sourceSize</key>
				<string>{171,61}</string>
			</dict>

			<key>common.btn_blue_186x76.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,439},{186,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,76}}</string>
				<key>sourceSize</key>
				<string>{186,76}</string>
			</dict>

			<key>common.btn_blue_186x76_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,595},{186,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,76}}</string>
				<key>sourceSize</key>
				<string>{186,76}</string>
			</dict>

			<key>common.btn_blue_198x83.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,354},{198,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,83}}</string>
				<key>sourceSize</key>
				<string>{198,83}</string>
			</dict>

			<key>common.btn_blue_198x83_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,269},{198,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,83}}</string>
				<key>sourceSize</key>
				<string>{198,83}</string>
			</dict>

			<key>common.btn_blue_228x83.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,184},{228,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,83}}</string>
				<key>sourceSize</key>
				<string>{228,83}</string>
			</dict>

			<key>common.btn_blue_228x83_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,524},{228,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,83}}</string>
				<key>sourceSize</key>
				<string>{228,83}</string>
			</dict>

			<key>common.btn_blue_250x90.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,90}}</string>
				<key>sourceSize</key>
				<string>{250,90}</string>
			</dict>

			<key>common.btn_blue_250x90_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{250,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,90}}</string>
				<key>sourceSize</key>
				<string>{250,90}</string>
			</dict>

			<key>common.btn_gray_158x63.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,649},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>common.btn_gray_160x66.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,68},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,66}}</string>
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>

			<key>common.btn_gray_184x68.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,70},{184,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,68}}</string>
				<key>sourceSize</key>
				<string>{184,68}</string>
			</dict>

			<key>common.btn_gray_228x83.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,269},{228,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,83}}</string>
				<key>sourceSize</key>
				<string>{228,83}</string>
			</dict>

			<key>common.btn_green_184x68.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,579},{184,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,68}}</string>
				<key>sourceSize</key>
				<string>{184,68}</string>
			</dict>

			<key>common.btn_green_184x68_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,509},{184,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,68}}</string>
				<key>sourceSize</key>
				<string>{184,68}</string>
			</dict>

			<key>common.btn_green_228x83.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{228,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,83}}</string>
				<key>sourceSize</key>
				<string>{228,83}</string>
			</dict>

			<key>common.btn_green_228x83_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,439},{228,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,83}}</string>
				<key>sourceSize</key>
				<string>{228,83}</string>
			</dict>

			<key>common.btn_yellow_155x65.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{153,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{153,64}}</string>
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>

			<key>common.btn_yellow_155x65_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,334},{153,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{153,64}}</string>
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>

			<key>common.btn_yellow_158x63.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,204},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>common.btn_yellow_158x63_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,269},{158,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,63}}</string>
				<key>sourceSize</key>
				<string>{158,63}</string>
			</dict>

			<key>common.btn_yellow_160x66.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,136},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,66}}</string>
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>

			<key>common.btn_yellow_160x66_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,0},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,66}}</string>
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>

			<key>common.btn_yellow_184x68.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,439},{184,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,68}}</string>
				<key>sourceSize</key>
				<string>{184,68}</string>
			</dict>

			<key>common.btn_yellow_184x68_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{184,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,68}}</string>
				<key>sourceSize</key>
				<string>{184,68}</string>
			</dict>

			<key>common.btn_yellow_186x76.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,517},{186,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,76}}</string>
				<key>sourceSize</key>
				<string>{186,76}</string>
			</dict>

			<key>common.btn_yellow_186x76_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,673},{186,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,76}}</string>
				<key>sourceSize</key>
				<string>{186,76}</string>
			</dict>

			<key>common.btn_yellow_228x83.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{228,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,83}}</string>
				<key>sourceSize</key>
				<string>{228,83}</string>
			</dict>

			<key>common.btn_yellow_228x83_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{228,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,83}}</string>
				<key>sourceSize</key>
				<string>{228,83}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{755,757}</string>
			<key>textureFileName</key>
			<string>common.btngroup.png</string>
			</dict>
		</dict>
</plist>