<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_aiMatchIn.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1839},{148,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,52}}</string>
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>

			<key>TH_fullTableSign.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1002},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,17}}</string>
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>

			<key>TH_matchDefuatHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1931},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>TH_tableLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{318,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{318,272}}</string>
				<key>sourceSize</key>
				<string>{318,272}</string>
			</dict>

			<key>TH_tablePlayerHeadBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,807},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>tableDetailBg_caolv.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,885},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_deongaree.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,846},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,807},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2009},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_pu.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1970},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1931},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_roseo.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1892},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_skyBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1892},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_yellowish.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,963},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tableDetailBg_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,924},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>tablet2_caolv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1279},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_deongaree.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1032},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,494},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,247},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_pu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,0},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1773},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_roseo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1032},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_skyBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1279},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_yellowish.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1526},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet2_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1526},{264,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,246}}</string>
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>

			<key>tablet3_caolv.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,0},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_deongaree.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1032},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1301},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1570},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_pu.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,0},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,269},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_roseo.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,538},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_skyBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1279},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_yellowish.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,0},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet3_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,763},{266,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,268}}</string>
				<key>sourceSize</key>
				<string>{266,268}</string>
			</dict>

			<key>tablet4_caolv.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,516},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_deongaree.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1795},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,269},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1032},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_pu.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1548},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1548},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_roseo.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1301},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_skyBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1054},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_yellowish.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,807},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet4_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1795},{266,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,246}}</string>
				<key>sourceSize</key>
				<string>{266,246}</string>
			</dict>

			<key>tablet5_caolv.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_deongaree.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,526},{298,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,253}}</string>
				<key>sourceSize</key>
				<string>{298,253}</string>
			</dict>

			<key>tablet5_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1792},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_pu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1033},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,779},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_roseo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1539},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_skyBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,273},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_yellowish.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,526},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

			<key>tablet5_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1286},{298,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,252}}</string>
				<key>sourceSize</key>
				<string>{298,252}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>Th_tableStyle.png</string>
			</dict>
		</dict>
</plist>