<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,466},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,209},{17,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{17,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,207},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,207},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,207},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,178},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,178},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,178},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,466},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nipAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,74}}</string>
                <key>sourceSize</key>
                <string>{462,74}</string>
            </dict>
            <key>nipDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{13,13}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{13,13}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nipMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{29,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{29,11}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>nipReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,90},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>nipResetDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NumberInputPanel.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0e707e981cfd01ebe429e102f20f7de$</string>
            <key>textureFileName</key>
            <string>NumberInputPanel.png</string>
        </dict>
    </dict>
</plist>
