<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aniMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,154}}</string>
                <key>sourceSize</key>
                <string>{354,154}</string>
            </dict>
            <key>boli.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{94,154}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{94,154}}</string>
                <key>sourceSize</key>
                <string>{354,154}</string>
            </dict>
            <key>mao.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{84,154}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{84,154}}</string>
                <key>sourceSize</key>
                <string>{354,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sweep.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42173db10b6b1f307e51f9616fa4c99a$</string>
            <key>textureFileName</key>
            <string>sweep.png</string>
        </dict>
    </dict>
</plist>
