<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bw00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,878},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,706},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,732},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,586},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw07.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,530},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,440},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,294},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw13.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,178},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,148},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw16.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw17.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
            <key>bw18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,144}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{232,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wave.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6826a0da3054c0fe3ce377027aec9dd9$</string>
            <key>textureFileName</key>
            <string>wave.png</string>
        </dict>
    </dict>
</plist>
