<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emotion_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>emotion_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{108,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{108,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>emotion_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{100,136}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{100,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36c53eed9c66a5506126144b193eebd6$</string>
            <key>textureFileName</key>
            <string>E2.png</string>
        </dict>
    </dict>
</plist>
