<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_fcmSettingFont1.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,91},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,27}}</string>
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>

			<key>aisAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,148},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>aisAddDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,60},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>aisAddDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,148},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>aisAdminAdjust.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,175},{137,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,26}}</string>
				<key>sourceSize</key>
				<string>{137,26}</string>
			</dict>

			<key>aisAdminVisible.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,217},{138,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,26}}</string>
				<key>sourceSize</key>
				<string>{138,26}</string>
			</dict>

			<key>aisArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,89},{28,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,13}}</string>
				<key>sourceSize</key>
				<string>{28,14}</string>
			</dict>

			<key>aisBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,52}}</string>
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>

			<key>aisBubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{270,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,80}}</string>
				<key>sourceSize</key>
				<string>{270,80}</string>
			</dict>

			<key>aisDeduct.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{205,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,28}}</string>
				<key>sourceSize</key>
				<string>{205,28}</string>
			</dict>

			<key>aisGive.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,217},{168,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,28}}</string>
				<key>sourceSize</key>
				<string>{168,28}</string>
			</dict>

			<key>aisHint.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,60},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>aisItembgl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{913,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{913,59}}</string>
				<key>sourceSize</key>
				<string>{913,59}</string>
			</dict>

			<key>aisLabel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,187},{172,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,29}}</string>
				<key>sourceSize</key>
				<string>{172,29}</string>
			</dict>

			<key>aisLabel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,119},{98,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,28}}</string>
				<key>sourceSize</key>
				<string>{98,28}</string>
			</dict>

			<key>aisLabel3.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,60},{56,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,27}}</string>
				<key>sourceSize</key>
				<string>{56,27}</string>
			</dict>

			<key>aisLabel4.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,89},{143,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,28}}</string>
				<key>sourceSize</key>
				<string>{143,28}</string>
			</dict>

			<key>aisMethod.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,118},{135,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,30}}</string>
				<key>sourceSize</key>
				<string>{135,30}</string>
			</dict>

			<key>aisMin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,223},{205,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,29}}</string>
				<key>sourceSize</key>
				<string>{205,29}</string>
			</dict>

			<key>aisPartner.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,148},{138,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,26}}</string>
				<key>sourceSize</key>
				<string>{138,26}</string>
			</dict>

			<key>aisPartnerAdjust.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,118},{139,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,29}}</string>
				<key>sourceSize</key>
				<string>{139,29}</string>
			</dict>

			<key>aisPause.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,60},{157,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,28}}</string>
				<key>sourceSize</key>
				<string>{157,28}</string>
			</dict>

			<key>aisPauseMin.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,194},{197,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,30}}</string>
				<key>sourceSize</key>
				<string>{197,30}</string>
			</dict>

			<key>aisQuantity.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,60},{135,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,30}}</string>
				<key>sourceSize</key>
				<string>{135,30}</string>
			</dict>

			<key>aisSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,202},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>aisSettingDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,149},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>aisSub.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,199},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>aisSubDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,195},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>aisSubDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,0},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>aisSwitch.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,60},{186,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,28}}</string>
				<key>sourceSize</key>
				<string>{186,28}</string>
			</dict>

			<key>aisTableMin.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,225},{197,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,30}}</string>
				<key>sourceSize</key>
				<string>{197,30}</string>
			</dict>

			<key>aisTitleSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,113},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>asiItembg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,107},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,256}</string>
			<key>textureFileName</key>
			<string>TH_AntiIndulgence_Setting.png</string>
			</dict>
		</dict>
</plist>