<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>th_match_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{836,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,79}}</string>
                <key>sourceSize</key>
                <string>{836,79}</string>
            </dict>
            <key>th_match_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,80}}</string>
                <key>sourceSize</key>
                <string>{1000,80}</string>
            </dict>
            <key>th_match_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,784},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_btn1_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,784},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,763},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_btn2_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,712},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,661},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_btn3_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,660},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,372},{162,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,49}}</string>
                <key>sourceSize</key>
                <string>{162,49}</string>
            </dict>
            <key>th_match_btn4_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,332},{162,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,49}}</string>
                <key>sourceSize</key>
                <string>{162,49}</string>
            </dict>
            <key>th_match_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,691},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_btn5_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,536},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>th_match_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,219},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>th_match_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,268},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>th_match_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,157},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>th_match_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,316},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>th_match_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,972},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,125},{186,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,29}}</string>
                <key>sourceSize</key>
                <string>{186,29}</string>
            </dict>
            <key>th_match_label11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{186,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,29}}</string>
                <key>sourceSize</key>
                <string>{186,29}</string>
            </dict>
            <key>th_match_label12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,63},{186,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,29}}</string>
                <key>sourceSize</key>
                <string>{186,29}</string>
            </dict>
            <key>th_match_label13.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,660},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>th_match_label14.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,629},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>th_match_label15.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,597},{123,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,30}}</string>
                <key>sourceSize</key>
                <string>{123,30}</string>
            </dict>
            <key>th_match_label16.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,569},{123,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,30}}</string>
                <key>sourceSize</key>
                <string>{123,30}</string>
            </dict>
            <key>th_match_label17.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,444},{123,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,30}}</string>
                <key>sourceSize</key>
                <string>{123,30}</string>
            </dict>
            <key>th_match_label18.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,32},{123,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,30}}</string>
                <key>sourceSize</key>
                <string>{123,30}</string>
            </dict>
            <key>th_match_label19.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,876},{122,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{122,29}</string>
            </dict>
            <key>th_match_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,941},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label20.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,845},{122,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{122,29}</string>
            </dict>
            <key>th_match_label21.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,187},{185,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,29}}</string>
                <key>sourceSize</key>
                <string>{185,29}</string>
            </dict>
            <key>th_match_label22.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,156},{185,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,29}}</string>
                <key>sourceSize</key>
                <string>{185,29}</string>
            </dict>
            <key>th_match_label23.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,814},{122,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{122,29}</string>
            </dict>
            <key>th_match_label24.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,694},{122,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{122,29}</string>
            </dict>
            <key>th_match_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,864},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,987},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,864},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,818},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,742},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label8.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,907},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>th_match_label9.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,32},{186,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,29}}</string>
                <key>sourceSize</key>
                <string>{186,29}</string>
            </dict>
            <key>th_match_sublabel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,460},{114,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,24}}</string>
                <key>sourceSize</key>
                <string>{114,24}</string>
            </dict>
            <key>th_match_sublabel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,536},{128,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,28}</string>
            </dict>
            <key>th_match_sublabel11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,249},{163,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,29}}</string>
                <key>sourceSize</key>
                <string>{163,29}</string>
            </dict>
            <key>th_match_sublabel12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,306},{163,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,24}</string>
            </dict>
            <key>th_match_sublabel13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,631},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>th_match_sublabel14.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,571},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>th_match_sublabel15.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,601},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>th_match_sublabel16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,835},{70,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,27}}</string>
                <key>sourceSize</key>
                <string>{70,27}</string>
            </dict>
            <key>th_match_sublabel17.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{233,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,28}}</string>
                <key>sourceSize</key>
                <string>{233,28}</string>
            </dict>
            <key>th_match_sublabel18.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,515},{112,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,24}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>th_match_sublabel19.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,941},{70,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,27}}</string>
                <key>sourceSize</key>
                <string>{70,27}</string>
            </dict>
            <key>th_match_sublabel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,840},{176,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>th_match_sublabel20.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,474},{129,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,29}}</string>
                <key>sourceSize</key>
                <string>{129,29}</string>
            </dict>
            <key>th_match_sublabel21.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,383},{159,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,28}}</string>
                <key>sourceSize</key>
                <string>{159,28}</string>
            </dict>
            <key>th_match_sublabel22.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,444},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>th_match_sublabel23.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,218},{164,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,29}}</string>
                <key>sourceSize</key>
                <string>{164,29}</string>
            </dict>
            <key>th_match_sublabel24.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,280},{163,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,24}</string>
            </dict>
            <key>th_match_sublabel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,840},{176,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>th_match_sublabel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,413},{157,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,29}}</string>
                <key>sourceSize</key>
                <string>{157,29}</string>
            </dict>
            <key>th_match_sublabel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,566},{126,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,29}}</string>
                <key>sourceSize</key>
                <string>{126,29}</string>
            </dict>
            <key>th_match_sublabel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,840},{176,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,29}</string>
            </dict>
            <key>th_match_sublabel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,486},{112,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{112,27}</string>
            </dict>
            <key>th_match_sublabel8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,541},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>th_match_sublabel9.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,505},{128,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,29}}</string>
                <key>sourceSize</key>
                <string>{128,29}</string>
            </dict>
            <key>th_match_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{456,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,83}}</string>
                <key>sourceSize</key>
                <string>{456,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>th_match.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e623cf77ef9db2ae5075d9a7ea8e69aa$</string>
            <key>textureFileName</key>
            <string>th_match.png</string>
        </dict>
    </dict>
</plist>
