<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PokerSmallCard01_a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,358},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,312},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,299},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a04.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,299},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,299},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a06.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,299},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a07.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,266},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a08.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,266},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a09.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,266},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,266},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,266},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_a13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,233},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,233},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,233},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,233},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,200},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,200},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,200},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,200},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,167},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,167},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,167},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,167},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,134},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,134},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,134},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c09.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,134},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,101},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,101},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,101},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,101},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,68},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,68},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,68},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d06.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,68},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d08.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,35},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,35},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,35},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,35},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_e01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_e02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_e03.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>PokerSmallCard01_e07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PokerSmallCard01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea14c56d5d9a55f3ce9a8fc55bde66c$</string>
            <key>textureFileName</key>
            <string>PokerSmallCard01.png</string>
        </dict>
    </dict>
</plist>
