<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MajonMenu.bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{104,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,450}}</string>
				<key>sourceSize</key>
				<string>{104,450}</string>
			</dict>

			<key>MajonMenu.btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,204},{52,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,7},{52,89}}</string>
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>

			<key>MajonMenu.btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{80,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,100}}</string>
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>

			<key>MajonMenu.btn_skin.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,102},{80,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,100}}</string>
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{188,452}</string>
			<key>textureFileName</key>
			<string>MajonMenuPanel.png</string>
			</dict>
		</dict>
</plist>