<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3d.bao_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,726},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>3d.card_provider_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,652},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>3d.card_provider_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,712},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>3d.card_provider_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,633},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>3d.card_provider_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,671},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>3d.card_provider_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,690},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>3d.card_ting_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,439},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>3d.card_ting_angle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,439},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>3d.chao_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,401},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>3d.dicard_flag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,673},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>3d.huang_east_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,533},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>3d.huang_east_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,375},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>3d.huang_east_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>3d.huang_east_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,604},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>3d.huang_east_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,483},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.huang_east_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,474},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.huang_north_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,671},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.huang_north_discard_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,666},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.huang_north_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,633},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.huang_north_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,712},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>3d.huang_north_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,707},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>3d.huang_north_table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,513},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>3d.huang_north_table_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,431},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>3d.huang_south_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,578},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>3d.huang_south_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{84,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,123}}</string>
                <key>sourceSize</key>
                <string>{84,123}</string>
            </dict>
            <key>3d.huang_south_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>3d.huang_south_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,605},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>3d.huang_south_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,249},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>3d.huang_south_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,249},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>3d.huang_south_table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,174},{83,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,123}}</string>
                <key>sourceSize</key>
                <string>{83,123}</string>
            </dict>
            <key>3d.huang_south_table_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{85,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,125}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>3d.huang_west_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,524},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>3d.huang_west_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,324},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>3d.huang_west_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,583},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3d.huang_west_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,625},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>3d.huang_west_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,432},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.huang_west_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,424},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.hun_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,712},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>3d.laizi_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,363},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>3d.lan_east_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,482},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>3d.lan_east_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>3d.lan_east_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,652},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>3d.lan_east_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,582},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>3d.lan_east_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.lan_east_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.lan_north_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.lan_north_discard_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.lan_north_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,669},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.lan_north_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,674},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>3d.lan_north_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,286},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>3d.lan_north_table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,388},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>3d.lan_north_table_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,345},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>3d.lan_south_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,536},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>3d.lan_south_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,88},{84,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,123}}</string>
                <key>sourceSize</key>
                <string>{84,123}</string>
            </dict>
            <key>3d.lan_south_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,587},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>3d.lan_south_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>3d.lan_south_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,174},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>3d.lan_south_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,174},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>3d.lan_south_table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,89},{83,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,123}}</string>
                <key>sourceSize</key>
                <string>{83,123}</string>
            </dict>
            <key>3d.lan_south_table_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{85,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,125}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>3d.lan_west_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,478},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>3d.lan_west_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>3d.lan_west_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,575},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3d.lan_west_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,556},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>3d.lan_west_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,433},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.lan_west_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,382},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.lv_east_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,474},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>3d.lv_east_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,317},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>3d.lv_east_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,630},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>3d.lv_east_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,407},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>3d.lv_east_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,374},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.lv_east_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,374},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.lv_north_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,630},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.lv_north_discard_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,625},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.lv_north_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,472},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>3d.lv_north_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,230},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>3d.lv_north_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,174},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>3d.lv_north_table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,302},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>3d.lv_north_table_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,259},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>3d.lv_south_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,528},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>3d.lv_south_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{84,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,123}}</string>
                <key>sourceSize</key>
                <string>{84,123}</string>
            </dict>
            <key>3d.lv_south_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,541},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>3d.lv_south_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,477},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>3d.lv_south_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>3d.lv_south_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>3d.lv_south_table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,89},{83,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,123}}</string>
                <key>sourceSize</key>
                <string>{83,123}</string>
            </dict>
            <key>3d.lv_south_table_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,125}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>3d.lv_west_discard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,424},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>3d.lv_west_hand_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,259},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>3d.lv_west_heap_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,532},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3d.lv_west_heap_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,342},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>3d.lv_west_meld_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,324},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.lv_west_meld_cover_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,324},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>3d.ma_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,680},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>3d.pei_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,673},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>3d.pizi_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,325},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3DMajonCard.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3c5f466c6966f5469c5121ee99614ed$</string>
            <key>textureFileName</key>
            <string>3DMajonCard.png</string>
        </dict>
    </dict>
</plist>
