<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_SuggestionPanel_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,127}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>lobby_SuggestionPanel_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>lobby_SuggestionPanel_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lobby_SuggestionPanel_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,116},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>lobby_SuggestionPanel_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>lobby_SuggestionPanel_btn1_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>lobby_SuggestionPanel_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>lobby_SuggestionPanel_btn2_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>lobby_SuggestionPanel_iconbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,344},{98,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>lobby_SuggestionPanel_iconbtn1_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,244},{98,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>lobby_SuggestionPanel_iconbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,525},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>lobby_SuggestionPanel_iconbtn2_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,444},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>lobby_SuggestionPanel_iconbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,422},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>lobby_SuggestionPanel_iconbtn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,174},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>lobby_SuggestionPanel_spineline.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,64},{6,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,524}}</string>
                <key>sourceSize</key>
                <string>{6,524}</string>
            </dict>
            <key>lobby_SuggestionPanel_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>lobby_SuggestionPanel_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SuggestionPanel.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ec68905dadc418443f6b39fa40a357d$</string>
            <key>textureFileName</key>
            <string>SuggestionPanel.png</string>
        </dict>
    </dict>
</plist>
