<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cspBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{888,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{888,548}}</string>
				<key>sourceSize</key>
				<string>{888,548}</string>
			</dict>

			<key>cspCall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,549},{191,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,60}}</string>
				<key>sourceSize</key>
				<string>{191,60}</string>
			</dict>

			<key>cspCallDeep1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,943},{191,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,60}}</string>
				<key>sourceSize</key>
				<string>{191,60}</string>
			</dict>

			<key>cspCopy.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,943},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>cspCopyDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,610},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>cspHead1.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,773},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,104}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>cspHead2.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,878},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,104}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>cspHead3.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,773},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,104}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>cspItemBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,619},{271,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,323}}</string>
				<key>sourceSize</key>
				<string>{271,323}</string>
			</dict>

			<key>cspTelephoneBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{398,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{398,69}}</string>
				<key>sourceSize</key>
				<string>{398,69}</string>
			</dict>

			<key>cspTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,943},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>lobby_csHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,660},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>lobby_csItemBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,619},{271,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,323}}</string>
				<key>sourceSize</key>
				<string>{271,323}</string>
			</dict>

			<key>lobby_csQr.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,660},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,112}}</string>
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>CustomerService.png</string>
			</dict>
		</dict>
</plist>