<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_block_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,452},{98,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,42}}</string>
				<key>sourceSize</key>
				<string>{98,42}</string>
			</dict>

			<key>TH_block_search_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,364},{98,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,43}}</string>
				<key>sourceSize</key>
				<string>{98,43}</string>
			</dict>

			<key>TH_bottom_btn_ranklist_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,433},{123,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,46}}</string>
				<key>sourceSize</key>
				<string>{124,46}</string>
			</dict>

			<key>TH_bottom_btn_ranklist_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,433},{124,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,46}}</string>
				<key>sourceSize</key>
				<string>{124,46}</string>
			</dict>

			<key>Tea_BottomMenu_Btn_Fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{213,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,77}}</string>
				<key>sourceSize</key>
				<string>{213,77}</string>
			</dict>

			<key>Tea_BottomMenu_Btn_Fast_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{215,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,77}}</string>
				<key>sourceSize</key>
				<string>{215,77}</string>
			</dict>

			<key>Tea_BottomMenu_Btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,285},{73,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,33}}</string>
				<key>sourceSize</key>
				<string>{73,33}</string>
			</dict>

			<key>Tea_BottomMenu_Btn_change_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,285},{73,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,33}}</string>
				<key>sourceSize</key>
				<string>{73,33}</string>
			</dict>

			<key>Tea_BottomMenu_Btn_choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,155},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,73}}</string>
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>

			<key>Tea_BottomMenu_Btn_choose_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,71},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,73}}</string>
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>

			<key>Tea_BottomMenu_FastBtnBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,155},{299,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,85}}</string>
				<key>sourceSize</key>
				<string>{299,85}</string>
			</dict>

			<key>back_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,229},{60,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,46}}</string>
				<key>sourceSize</key>
				<string>{60,46}</string>
			</dict>

			<key>back_btn_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,452},{60,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,46}}</string>
				<key>sourceSize</key>
				<string>{60,46}</string>
			</dict>

			<key>btn_xiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,480},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>

			<key>btn_xiugai_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>

			<key>change.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,397},{128,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,35}}</string>
				<key>sourceSize</key>
				<string>{128,35}</string>
			</dict>

			<key>floorInfo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{321,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,83}}</string>
				<key>sourceSize</key>
				<string>{321,83}</string>
			</dict>

			<key>floorManagerbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{366,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{366,70}}</string>
				<key>sourceSize</key>
				<string>{366,70}</string>
			</dict>

			<key>memberBtn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,408},{99,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,43}}</string>
				<key>sourceSize</key>
				<string>{99,43}</string>
			</dict>

			<key>memberbtn_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,364},{99,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,43}}</string>
				<key>sourceSize</key>
				<string>{99,43}</string>
			</dict>

			<key>red_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,480},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>

			<key>resulet_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,241},{99,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,43}}</string>
				<key>sourceSize</key>
				<string>{99,43}</string>
			</dict>

			<key>result_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,319},{100,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,44}}</string>
				<key>sourceSize</key>
				<string>{100,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>TeaHouseMeunBlock.png</string>
			</dict>
		</dict>
</plist>