<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tmbActivityStart_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,70},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbActivity_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,70},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbActivitystart.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbCardPool.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,140},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbCardPoolDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,210},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,42}}</string>
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>

			<key>tmbGive.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbGiveDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,140},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbInvite.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,70},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbInviteDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbMessage.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,140},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbMessageBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,70},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,0},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbSettingDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmbShareDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>

			<key>tmb_Btn_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{58,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{58,37}}</string>
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>

			<key>tmb_Btn_copyDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,210},{58,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{58,37}}</string>
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>TH_TopMenu.png</string>
			</dict>
		</dict>
</plist>