<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>THS_btnTableBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,498},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,103}}</string>
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>

			<key>THS_btnTableBg_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,103}}</string>
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>

			<key>THS_btn_SettingM.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,639},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>THS_btn_SettingM_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,602},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,101}}</string>
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>

			<key>THS_btn_ShowTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,704},{97,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,100}}</string>
				<key>sourceSize</key>
				<string>{97,100}</string>
			</dict>

			<key>THS_btn_ShowTable_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,702},{98,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,101}}</string>
				<key>sourceSize</key>
				<string>{98,101}</string>
			</dict>

			<key>THS_btn_auth.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,436},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>THS_btn_auth_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,538},{96,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,100}}</string>
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>

			<key>THS_btn_bgSet.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,602},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>THS_btn_bgSet_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,908},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>THS_btn_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,741},{96,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,103}}</string>
				<key>sourceSize</key>
				<string>{96,103}</string>
			</dict>

			<key>THS_btn_black_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,600},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,102}}</string>
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>

			<key>THS_btn_froze.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,266},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>THS_btn_froze_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,807},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>THS_btn_joinSet.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,909},{96,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,99}}</string>
				<key>sourceSize</key>
				<string>{96,99}</string>
			</dict>

			<key>THS_btn_joinSet_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,166},{96,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,99}}</string>
				<key>sourceSize</key>
				<string>{96,99}</string>
			</dict>

			<key>THS_btn_merge.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,909},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,102}}</string>
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>

			<key>THS_btn_merge_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,0},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,102}}</string>
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>

			<key>THS_btn_secret.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,845},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>THS_btn_secret_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,805},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,101}}</string>
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>

			<key>THS_btn_unfroze.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,907},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,101}}</string>
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>

			<key>THS_btn_unfroze_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,907},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,101}}</string>
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>

			<key>THS_qyqPartner.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,249},{379,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{379,82}}</string>
				<key>sourceSize</key>
				<string>{379,82}</string>
			</dict>

			<key>THS_qyqPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{379,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{379,82}}</string>
				<key>sourceSize</key>
				<string>{379,82}</string>
			</dict>

			<key>THS_qyq_setting_Top.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{378,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{378,82}}</string>
				<key>sourceSize</key>
				<string>{378,82}</string>
			</dict>

			<key>THS_thsAdmin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{410,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,82}}</string>
				<key>sourceSize</key>
				<string>{410,82}</string>
			</dict>

			<key>THS_thsAnti.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,806},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,102}}</string>
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>

			<key>THS_thsAntiDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,703},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,102}}</string>
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>

			<key>THS_thsMix.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,498},{97,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,103}}</string>
				<key>sourceSize</key>
				<string>{97,103}</string>
			</dict>

			<key>THS_thsMixDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,600},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,102}}</string>
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>

			<key>THS_thsSameTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,498},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>THS_thsSameTableDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,498},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>THS_tsmCPAdmin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,415},{377,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{377,82}}</string>
				<key>sourceSize</key>
				<string>{377,82}</string>
			</dict>

			<key>tsmPartner.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,332},{96,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,103}}</string>
				<key>sourceSize</key>
				<string>{96,103}</string>
			</dict>

			<key>tsmPartnerDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,703},{96,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,103}}</string>
				<key>sourceSize</key>
				<string>{96,103}</string>
			</dict>

			<key>tsmVicePartner.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{411,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,82}}</string>
				<key>sourceSize</key>
				<string>{411,82}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>THS_SettingPanel.png</string>
			</dict>
		</dict>
</plist>