<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>newsetting_bg_2D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{160,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,92}}</string>
				<key>sourceSize</key>
				<string>{160,92}</string>
			</dict>

			<key>newsetting_bg_3D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,93},{160,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,92}}</string>
				<key>sourceSize</key>
				<string>{160,92}</string>
			</dict>

			<key>newsetting_bg_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{160,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,91}}</string>
				<key>sourceSize</key>
				<string>{160,91}</string>
			</dict>

			<key>newsetting_font_2D.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,215},{39,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,24}}</string>
				<key>sourceSize</key>
				<string>{39,24}</string>
			</dict>

			<key>newsetting_font_2D_paibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,186},{58,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,28}}</string>
				<key>sourceSize</key>
				<string>{58,28}</string>
			</dict>

			<key>newsetting_font_2D_zhuobu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,215},{59,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,28}}</string>
				<key>sourceSize</key>
				<string>{59,28}</string>
			</dict>

			<key>newsetting_font_3D.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,215},{39,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,24}}</string>
				<key>sourceSize</key>
				<string>{39,24}</string>
			</dict>

			<key>newsetting_font_lanague.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{59,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,28}}</string>
				<key>sourceSize</key>
				<string>{59,28}</string>
			</dict>

			<key>newsetting_paibei_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{59,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,84}}</string>
				<key>sourceSize</key>
				<string>{59,84}</string>
			</dict>

			<key>newsetting_paibei_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{59,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,84}}</string>
				<key>sourceSize</key>
				<string>{59,84}</string>
			</dict>

			<key>newsetting_paibei_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,170},{57,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,83}}</string>
				<key>sourceSize</key>
				<string>{57,83}</string>
			</dict>

			<key>newsetting_paibei_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,85},{59,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,84}}</string>
				<key>sourceSize</key>
				<string>{59,84}</string>
			</dict>

			<key>newsetting_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,39},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{38,38}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>newsetting_unselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,0},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{38,38}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>newsetting_zhuobu_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,92},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,78}}</string>
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>

			<key>newsetting_zhuobu_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,170},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,78}}</string>
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>

			<key>newsetting_zhuobu_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,92},{134,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,77}}</string>
				<key>sourceSize</key>
				<string>{134,77}</string>
			</dict>

			<key>newsetting_zhuobu_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,171},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,78}}</string>
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>newSettingLayer.png</string>
			</dict>
		</dict>
</plist>