<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby.tea.thb_btn_remove.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,150},{128,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,50}}</string>
				<key>sourceSize</key>
				<string>{128,50}</string>
			</dict>

			<key>lobby.tea.thb_btn_remove_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,98},{128,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,50}}</string>
				<key>sourceSize</key>
				<string>{128,50}</string>
			</dict>

			<key>lobby.tea.thb_btn_search_deep_thmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,318},{107,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,41}}</string>
				<key>sourceSize</key>
				<string>{107,41}</string>
			</dict>

			<key>lobby.tea.thb_btn_search_thmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{107,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,41}}</string>
				<key>sourceSize</key>
				<string>{107,41}</string>
			</dict>

			<key>lobby.tea.thb_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,202},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>lobby.tea.thb_search_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{360,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,41}}</string>
				<key>sourceSize</key>
				<string>{360,41}</string>
			</dict>

			<key>lobby.tea.thm_btn_dismiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,263},{138,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,53}}</string>
				<key>sourceSize</key>
				<string>{138,53}</string>
			</dict>

			<key>lobby.tea.thm_btn_dismiss_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,208},{138,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,53}}</string>
				<key>sourceSize</key>
				<string>{138,53}</string>
			</dict>

			<key>lobby.tea.thm_btn_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,43},{138,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,53}}</string>
				<key>sourceSize</key>
				<string>{138,53}</string>
			</dict>

			<key>lobby.tea.thm_btn_enter_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{138,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,53}}</string>
				<key>sourceSize</key>
				<string>{138,53}</string>
			</dict>

			<key>lobby.tea.thm_btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{138,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,53}}</string>
				<key>sourceSize</key>
				<string>{138,53}</string>
			</dict>

			<key>lobby.tea.thm_btn_exit_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,43},{138,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,53}}</string>
				<key>sourceSize</key>
				<string>{138,53}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{362,361}</string>
			<key>textureFileName</key>
			<string>TeaHousePanel.png</string>
			</dict>
		</dict>
</plist>