<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg888548.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{888,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,548}}</string>
                <key>sourceSize</key>
                <string>{888,548}</string>
            </dict>
            <key>black_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,206},{248,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,73}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>cellBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,552},{836,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,80}}</string>
                <key>sourceSize</key>
                <string>{836,80}</string>
            </dict>
            <key>thb_btn_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,155},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>thb_btn_remove_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,104},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>thb_btn_search_deep_thmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,53},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>thb_btn_search_thmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>thb_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,526},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>thb_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,456},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>thb_search_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{444,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,50}}</string>
                <key>sourceSize</key>
                <string>{444,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeaHouse_new_BlackList.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7f56af119130ed8ba58b9f26b93d07$</string>
            <key>textureFileName</key>
            <string>TeaHouse_new_BlackList.png</string>
        </dict>
    </dict>
</plist>
