<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_wheel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1268,649}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,649}}</string>
                <key>sourceSize</key>
                <string>{1268,649}</string>
            </dict>
            <key>btn_wheel_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,222},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>btn_wheel_inst.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,222},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>btn_wheel_inst_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,169},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>btn_wheel_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,169},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>btn_wheel_record_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,169},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>btn_wheel_round_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{536,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,538}}</string>
                <key>sourceSize</key>
                <string>{536,538}</string>
            </dict>
            <key>btn_wheel_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,166}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>btn_wheel_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,166}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>th_wheel_foretune.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e5ae366c9075a8feb6b2b1d5e613eea$</string>
            <key>textureFileName</key>
            <string>th_wheel_foretune.png</string>
        </dict>
    </dict>
</plist>
