<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PokerBigCard01_a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,630},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,630},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a06.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a07.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a08.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a09.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_a13.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1748},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1530},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1312},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1094},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d05.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,876},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d06.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,658},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d07.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,440},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d08.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d09.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,222},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_e01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_e02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_e03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_e07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,218}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>PokerBigCard01_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PokerBigCard01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e612b6c667a95f4f3655c2c3d1c441$</string>
            <key>textureFileName</key>
            <string>PokerBigCard01.png</string>
        </dict>
    </dict>
</plist>
