<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TH_ac_CrtRoom_20_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,852},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>TH_ac_CrtRoom_20_check2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,758},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>TH_ac_FontPri1.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,774},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>

			<key>TH_ac_FontPri2.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,745},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>

			<key>TH_ac_FontPri3.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,958},{65,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,27}}</string>
				<key>sourceSize</key>
				<string>{65,27}</string>
			</dict>

			<key>TH_ac_FontPri4.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,550},{110,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,28}}</string>
				<key>sourceSize</key>
				<string>{110,28}</string>
			</dict>

			<key>TH_ac_FontPri5.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,804},{111,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,28}}</string>
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>

			<key>TH_ac_FontPri6.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,988},{113,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,29}}</string>
				<key>sourceSize</key>
				<string>{113,29}</string>
			</dict>

			<key>TH_ac_acTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,977},{142,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,37}}</string>
				<key>sourceSize</key>
				<string>{142,37}</string>
			</dict>

			<key>TH_ac_actUsreListbg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{1000,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1000,60}}</string>
				<key>sourceSize</key>
				<string>{1000,60}</string>
			</dict>

			<key>TH_ac_actUsreListbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1000,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1000,60}}</string>
				<key>sourceSize</key>
				<string>{1000,60}</string>
			</dict>

			<key>TH_ac_act_contentBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{762,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{762,150}}</string>
				<key>sourceSize</key>
				<string>{762,150}</string>
			</dict>

			<key>TH_ac_act_lc_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,550},{390,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,50}}</string>
				<key>sourceSize</key>
				<string>{390,50}</string>
			</dict>

			<key>TH_ac_act_lc_sel_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{390,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,250}}</string>
				<key>sourceSize</key>
				<string>{390,250}</string>
			</dict>

			<key>TH_ac_act_listTitle_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,505},{761,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{761,44}}</string>
				<key>sourceSize</key>
				<string>{761,44}</string>
			</dict>

			<key>TH_ac_act_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{390,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,50}}</string>
				<key>sourceSize</key>
				<string>{390,50}</string>
			</dict>

			<key>TH_ac_btn_huodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,804},{162,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,49}}</string>
				<key>sourceSize</key>
				<string>{162,49}</string>
			</dict>

			<key>TH_ac_btn_huodongdeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,854},{162,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,49}}</string>
				<key>sourceSize</key>
				<string>{162,49}</string>
			</dict>

			<key>TH_ac_btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,903},{222,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,84}}</string>
				<key>sourceSize</key>
				<string>{222,84}</string>
			</dict>

			<key>TH_ac_btn_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,550},{222,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,84}}</string>
				<key>sourceSize</key>
				<string>{222,84}</string>
			</dict>

			<key>TH_ac_c_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,970},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,495},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_6_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,401},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_6_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,550},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,608},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_7_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,876},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_7_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,923},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,829},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_add_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,958},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_del.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,758},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,663},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_6_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,448},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_6_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,710},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,805},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_7_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,655},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_7_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,757},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,597},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_c_delete_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,542},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_createAc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>TH_ac_delact.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,722},{81,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,22}}</string>
				<key>sourceSize</key>
				<string>{81,22}</string>
			</dict>

			<key>TH_ac_down_pull.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,354},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>

			<key>TH_ac_font_actEnd.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,579},{109,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,28}}</string>
				<key>sourceSize</key>
				<string>{109,28}</string>
			</dict>

			<key>TH_ac_font_actName.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,694},{111,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,27}}</string>
				<key>sourceSize</key>
				<string>{111,27}</string>
			</dict>

			<key>TH_ac_font_actPMFS.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,635},{111,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,27}}</string>
				<key>sourceSize</key>
				<string>{111,27}</string>
			</dict>

			<key>TH_ac_font_actStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,904},{109,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,28}}</string>
				<key>sourceSize</key>
				<string>{109,28}</string>
			</dict>

			<key>TH_ac_font_acthdlc.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,663},{110,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,28}}</string>
				<key>sourceSize</key>
				<string>{110,28}</string>
			</dict>

			<key>TH_ac_font_num_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,608},{103,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,24}}</string>
				<key>sourceSize</key>
				<string>{103,24}</string>
			</dict>

			<key>TH_ac_font_num_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,854},{77,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,24}}</string>
				<key>sourceSize</key>
				<string>{77,24}</string>
			</dict>

			<key>TH_ac_font_num_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,988},{130,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,24}}</string>
				<key>sourceSize</key>
				<string>{130,24}</string>
			</dict>

			<key>TH_ac_font_userId.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,933},{76,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,24}}</string>
				<key>sourceSize</key>
				<string>{76,24}</string>
			</dict>

			<key>TH_ac_font_userName.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,804},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,24}}</string>
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>

			<key>TH_ac_font_userRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,869},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,24}}</string>
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>

			<key>TH_ac_goPri.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,988},{81,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,22}}</string>
				<key>sourceSize</key>
				<string>{81,22}</string>
			</dict>

			<key>TH_ac_huoDetailHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{1000,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1000,50}}</string>
				<key>sourceSize</key>
				<string>{1000,50}</string>
			</dict>

			<key>TH_ac_huodongtoubu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{1000,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1000,180}}</string>
				<key>sourceSize</key>
				<string>{1000,180}</string>
			</dict>

			<key>TH_ac_icon_end.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,986},{62,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,35}}</string>
				<key>sourceSize</key>
				<string>{62,35}</string>
			</dict>

			<key>TH_ac_icon_ing.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,722},{62,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,35}}</string>
				<key>sourceSize</key>
				<string>{62,35}</string>
			</dict>

			<key>TH_ac_icon_nostart.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,833},{62,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,35}}</string>
				<key>sourceSize</key>
				<string>{62,35}</string>
			</dict>

			<key>TH_btn_setPri.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,904},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>TH_btn_setPri_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,954},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>timeD.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,635},{202,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,58}}</string>
				<key>sourceSize</key>
				<string>{202,58}</string>
			</dict>

			<key>timeH.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,745},{162,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,58}}</string>
				<key>sourceSize</key>
				<string>{162,58}</string>
			</dict>

			<key>title_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,694},{175,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,50}}</string>
				<key>sourceSize</key>
				<string>{175,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>TH_TeaHouseActivity.png</string>
			</dict>
		</dict>
</plist>