<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cfpSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,191},{49,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,12},{49,26}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>tea.floor.btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,191},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>tea.floor.btn_add_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,191},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>tea.floor.btn_floor_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,191},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,41}}</string>
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>

			<key>tea.floor.btn_floor_set_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,191},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,41}}</string>
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>

			<key>tea.floor.cellBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{580,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{580,98}}</string>
				<key>sourceSize</key>
				<string>{602,98}</string>
			</dict>

			<key>tea.floor.changeBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{602,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,8}}</string>
				<key>sourceSize</key>
				<string>{602,8}</string>
			</dict>

			<key>tea.floor.cur_floor_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{68,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,58}}</string>
				<key>sourceSize</key>
				<string>{68,58}</string>
			</dict>

			<key>tea.floor.delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,219},{49,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,11},{49,26}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>tea.floor.floorImgshow.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,218},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,35}}</string>
				<key>sourceSize</key>
				<string>{30,35}</string>
			</dict>

			<key>tea.floor.floorImgshow_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,191},{30,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,34}}</string>
				<key>sourceSize</key>
				<string>{30,35}</string>
			</dict>

			<key>tea.floor.floorImgshow_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,191},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,35}}</string>
				<key>sourceSize</key>
				<string>{30,35}</string>
			</dict>

			<key>tea.floor.floorYuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,191},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

			<key>tea.floor.floor_connet.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,191},{20,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,46}}</string>
				<key>sourceSize</key>
				<string>{20,46}</string>
			</dict>

			<key>tea.floor.floor_top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,9},{584,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{584,82}}</string>
				<key>sourceSize</key>
				<string>{602,83}</string>
			</dict>

			<key>tea.floor.gameHeadiconbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,92},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>tea.floor.show.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,191},{49,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,11},{49,27}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,256}</string>
			<key>textureFileName</key>
			<string>tea.floorChange.png</string>
			</dict>
		</dict>
</plist>