<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>aimAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{164,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,29}}</string>
				<key>sourceSize</key>
				<string>{164,29}</string>
			</dict>

			<key>aimAdjust.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>aimAdjustDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>aimAdjustDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>aimArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,234},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>

			<key>aimArrowAsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,267},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>

			<key>aimArrowDesc.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,300},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>

			<key>aimBat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>aimBatDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{142,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,49}}</string>
				<key>sourceSize</key>
				<string>{142,49}</string>
			</dict>

			<key>aimNow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{163,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,29}}</string>
				<key>sourceSize</key>
				<string>{163,29}</string>
			</dict>

			<key>aimQuery.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>aimQueryDeep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,284},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,49}}</string>
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>

			<key>aimTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>TH_AntiIndulgence_Manage.png</string>
			</dict>
		</dict>
</plist>