<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby_settingImage0.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,167},{156,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{156,29}}</string>
				<key>sourceSize</key>
				<string>{156,40}</string>
			</dict>

			<key>Lobby_settingImage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{208,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{208,29}}</string>
				<key>sourceSize</key>
				<string>{208,40}</string>
			</dict>

			<key>Lobby_settingImage10.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,206},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>Lobby_settingImage11.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,0},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>Lobby_settingImage12.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,61},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,49}}</string>
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>

			<key>Lobby_settingImage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,229},{96,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{96,26}}</string>
				<key>sourceSize</key>
				<string>{96,40}</string>
			</dict>

			<key>Lobby_settingImage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{96,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{96,26}}</string>
				<key>sourceSize</key>
				<string>{96,40}</string>
			</dict>

			<key>Lobby_settingImage4.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,229},{96,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{96,26}}</string>
				<key>sourceSize</key>
				<string>{96,40}</string>
			</dict>

			<key>Lobby_settingImage5.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,229},{96,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{96,26}}</string>
				<key>sourceSize</key>
				<string>{96,40}</string>
			</dict>

			<key>Lobby_settingImage6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{190,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,31}}</string>
				<key>sourceSize</key>
				<string>{190,31}</string>
			</dict>

			<key>Lobby_settingImage7.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,135},{158,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,31}}</string>
				<key>sourceSize</key>
				<string>{158,31}</string>
			</dict>

			<key>Lobby_settingImage8.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,197},{190,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,31}}</string>
				<key>sourceSize</key>
				<string>{190,31}</string>
			</dict>

			<key>Lobby_settingImage9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{221,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,31}}</string>
				<key>sourceSize</key>
				<string>{221,31}</string>
			</dict>

			<key>SettingPanel.gamebgm.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,174},{109,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,31}}</string>
				<key>sourceSize</key>
				<string>{109,31}</string>
			</dict>

			<key>SettingPanel.gamesound.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,142},{110,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,31}}</string>
				<key>sourceSize</key>
				<string>{110,31}</string>
			</dict>

			<key>SettingPanel.inputBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,60}}</string>
				<key>sourceSize</key>
				<string>{320,60}</string>
			</dict>

			<key>SettingPanel.off.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,96},{115,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,45}}</string>
				<key>sourceSize</key>
				<string>{115,45}</string>
			</dict>

			<key>SettingPanel.on.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,50},{115,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,45}}</string>
				<key>sourceSize</key>
				<string>{115,45}</string>
			</dict>

			<key>SettingPanel.title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{248,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,73}}</string>
				<key>sourceSize</key>
				<string>{248,73}</string>
			</dict>

			<key>SettingPanel.updateIcon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,231},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>SettingPanel.updateIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,206},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>SettingPanel.png</string>
			</dict>
		</dict>
</plist>