<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Login_BottomWord.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,50}}</string>
				<key>sourceSize</key>
				<string>{1280,50}</string>
			</dict>

			<key>Login_ClientWeb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,209},{199,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,26}}</string>
				<key>sourceSize</key>
				<string>{199,26}</string>
			</dict>

			<key>Login_Kefu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,92},{90,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,119}}</string>
				<key>sourceSize</key>
				<string>{90,119}</string>
			</dict>

			<key>Login_Kefu_btn_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,92},{90,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,119}}</string>
				<key>sourceSize</key>
				<string>{90,119}</string>
			</dict>

			<key>Login_btn_guest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,92},{266,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{266,91}}</string>
				<key>sourceSize</key>
				<string>{266,92}</string>
			</dict>

			<key>Login_btn_guest_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,0},{266,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{266,91}}</string>
				<key>sourceSize</key>
				<string>{266,92}</string>
			</dict>

			<key>Login_btn_phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,116},{268,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,92}}</string>
				<key>sourceSize</key>
				<string>{268,92}</string>
			</dict>

			<key>Login_btn_phone_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,116},{266,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{266,91}}</string>
				<key>sourceSize</key>
				<string>{266,92}</string>
			</dict>

			<key>Login_btn_wechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,0},{266,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{266,91}}</string>
				<key>sourceSize</key>
				<string>{266,92}</string>
			</dict>

			<key>Login_btn_wechat_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,116},{266,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{266,91}}</string>
				<key>sourceSize</key>
				<string>{266,92}</string>
			</dict>

			<key>Login_btn_xiaoxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,116},{268,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,92}}</string>
				<key>sourceSize</key>
				<string>{268,92}</string>
			</dict>

			<key>Login_btn_xiaoxin_deep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{268,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,92}}</string>
				<key>sourceSize</key>
				<string>{268,92}</string>
			</dict>

			<key>Login_img_checkOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,212},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{26,26}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>

			<key>Login_img_checkOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,212},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>

			<key>Login_img_policy.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,209},{121,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,26}}</string>
				<key>sourceSize</key>
				<string>{121,26}</string>
			</dict>

			<key>Login_img_process.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{1190,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1190,10}}</string>
				<key>sourceSize</key>
				<string>{1190,10}</string>
			</dict>

			<key>Login_img_processBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{1192,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1192,12}}</string>
				<key>sourceSize</key>
				<string>{1192,12}</string>
			</dict>

			<key>Login_img_processLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,236},{131,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,10}}</string>
				<key>sourceSize</key>
				<string>{131,10}</string>
			</dict>

			<key>Login_img_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{1280,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,40}}</string>
				<key>sourceSize</key>
				<string>{1280,40}</string>
			</dict>

			<key>Login_img_userAgr.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,209},{121,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,26}}</string>
				<key>sourceSize</key>
				<string>{121,26}</string>
			</dict>

			<key>lgnCustomerServiceWechat3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,209},{186,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,26}}</string>
				<key>sourceSize</key>
				<string>{186,26}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,256}</string>
			<key>textureFileName</key>
			<string>Login_Sence_Image.png</string>
			</dict>
		</dict>
</plist>