<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mpCity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,89},{85,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>mpCityDeep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{85,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>mpContact.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,636},{222,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,49}}</string>
                <key>sourceSize</key>
                <string>{222,49}</string>
            </dict>
            <key>mpContactDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,636},{222,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,49}}</string>
                <key>sourceSize</key>
                <string>{222,49}</string>
            </dict>
            <key>mpHeNan.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1560,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,720}}</string>
                <key>sourceSize</key>
                <string>{1560,720}</string>
            </dict>
            <key>mpHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,2},{366,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,90}}</string>
                <key>sourceSize</key>
                <string>{366,90}</string>
            </dict>
            <key>mpHuBei3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1560,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,720}}</string>
                <key>sourceSize</key>
                <string>{1560,720}</string>
            </dict>
            <key>mpLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,146},{632,360}}</string>
                <key>offset</key>
                <string>{-74,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,360}}</string>
                <key>sourceSize</key>
                <string>{780,360}</string>
            </dict>
            <key>mpNoGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{688,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,260}}</string>
                <key>sourceSize</key>
                <string>{688,260}</string>
            </dict>
            <key>mpProvince.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,406},{228,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,78}}</string>
                <key>sourceSize</key>
                <string>{228,78}</string>
            </dict>
            <key>mpProvinceDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,176},{228,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,78}}</string>
                <key>sourceSize</key>
                <string>{228,78}</string>
            </dict>
            <key>mpRadio.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,216},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>mpRadioDeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,176},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>mpRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,780},{624,360}}</string>
                <key>offset</key>
                <string>{78,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,0},{624,360}}</string>
                <key>sourceSize</key>
                <string>{780,360}</string>
            </dict>
            <key>mpTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,94},{362,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,50}}</string>
                <key>sourceSize</key>
                <string>{362,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapPanel.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc26c2a1943ef1180ca260b9d741ddf$</string>
            <key>textureFileName</key>
            <string>MapPanel.png</string>
        </dict>
    </dict>
</plist>
