<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emotion_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>emotion_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ffab93022a5bfb8f153d994ccfbe295$</string>
            <key>textureFileName</key>
            <string>E4.png</string>
        </dict>
    </dict>
</plist>
