<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG.font_cannotout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{662,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,72}}</string>
                <key>sourceSize</key>
                <string>{662,72}</string>
            </dict>
            <key>DG.font_dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{662,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,72}}</string>
                <key>sourceSize</key>
                <string>{662,72}</string>
            </dict>
            <key>DG.font_mingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,72}}</string>
                <key>sourceSize</key>
                <string>{662,72}</string>
            </dict>
            <key>DG.font_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,158},{531,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,61}}</string>
                <key>sourceSize</key>
                <string>{531,61}</string>
            </dict>
            <key>DG.img_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{472,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,358}}</string>
                <key>sourceSize</key>
                <string>{472,358}</string>
            </dict>
            <key>DG.logoCk.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,106},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>DG.logoDYDG.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,54},{281,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,50}}</string>
                <key>sourceSize</key>
                <string>{281,50}</string>
            </dict>
            <key>DG.logoDYDG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{241,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,50}}</string>
                <key>sourceSize</key>
                <string>{241,50}</string>
            </dict>
            <key>DG.logoLai.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,145},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>DG.logoQCDG.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{281,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,50}}</string>
                <key>sourceSize</key>
                <string>{281,50}</string>
            </dict>
            <key>DG.logoQCDG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,106},{241,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,50}}</string>
                <key>sourceSize</key>
                <string>{241,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Poker.DG.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7c89635e7e5a8f28f965bbfba6f7e3c$</string>
            <key>textureFileName</key>
            <string>Poker.DG.png</string>
        </dict>
    </dict>
</plist>
