<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_jml_btn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,96},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>lobby_jml_btn_jiantou_deep.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,96},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>lobby_jml_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{694,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,359}}</string>
                <key>sourceSize</key>
                <string>{694,359}</string>
            </dict>
            <key>lobby_jml_img_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>lobby_jml_img_lipingjuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{101,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,92}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>lobby_jml_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{757,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{757,328}}</string>
                <key>sourceSize</key>
                <string>{759,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oldusergift.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e83802def17ddb2a6cfccf5598fa86$</string>
            <key>textureFileName</key>
            <string>oldusergift.png</string>
        </dict>
    </dict>
</plist>
